<li><a href ="{{ site.scenario_settings }}" class="otherLinkColour">Scenario Settings</a>
    <ul>    
        <li><a href ="{{ site.scenario_settings }}how-to-set-parameters.html" class="otherLinkColour">Select the Appropriate DBR Parameter Configuration</a></li>
        <li><a href ="{{ site.scenario_settings }}barcode-format-and-expected-barcode-counts.html" class="otherLinkColour">Set the Barcode Format and the Number of Barcodes Expected to be Detected</a></li>
        <li><a href ="{{ site.scenario_settings }}read-from-diff-source.html" class="otherLinkColour">Read Images from Different Sources</a></li>
        <li><a href ="{{ site.scenario_settings }}multipage-imgs-and-pdf.html" class="otherLinkColour">Process Multi-page TIF & PDF</a></li>
        <li><a href ="{{ site.scenario_settings }}image-scale-and-colour-conversion.html" class="otherLinkColour">Set Image Scaling and Colour Transformation</a></li>
        <li><a href ="{{ site.scenario_settings }}manually-define-region-of-interest.html" class="otherLinkColour">Manually Define Region Of Interest</a></li>
        <li><a href ="{{ site.scenario_settings }}how-to-use-region-predetection.html" class="otherLinkColour">Use Region Pre-detection</a></li>
        <li><a href ="{{ site.scenario_settings }}image-preprocessing.html" class="otherLinkColour">Preprocess Images Based On Different Scenarios</a></li>
        <li><a href ="{{ site.scenario_settings }}how-to-set-binarization-modes.html" class="otherLinkColour">Configure the Binarization Parameters</a></li>
        <li><a href ="{{ site.scenario_settings }}texture-detection.html" class="otherLinkColour">Deal with Image Textures</a></li>
        <li><a href ="{{ site.scenario_settings }}text-filter.html" class="otherLinkColour">Filter Text</a></li>
        <li><a href ="{{ site.scenario_settings }}how-to-set-localization-modes.html" class="otherLinkColour">Set Localization Modes</a></li>
        <li><a href ="{{ site.scenario_settings }}how-to-set-scaleup-modes.html" class="otherLinkColour">Read Barcodes with Small Module size</a></li>
        <li><a href ="{{ site.scenario_settings }}resist-deformation.html" class="otherLinkColour">Deal with Deformed Barcodes</a></li>
        <li><a href ="{{ site.scenario_settings }}how-to-set-barcode-complememt-modes.html" class="otherLinkColour">Decode Incomplete Barcodes</a></li>
        <li><a href ="{{ site.scenario_settings }}deblur-level.html" class="otherLinkColour">Configure DeblurLevel</a></li>
        <li><a href ="{{ site.scenario_settings }}dpm-decoding.html" class="otherLinkColour">Read DPM Codes</a></li>
        <li><a href ="{{ site.scenario_settings }}decode-result.html" class="otherLinkColour">Filter and Sort Decoding Results</a></li>
        <li><a href ="{{ site.scenario_settings }}intermediate-result.html" class="otherLinkColour">Obtain and Use Intermediate Results</a></li>
        <li><a href ="{{ site.scenario_settings }}terminate.html" class="otherLinkColour">Control the Terminate Phase</a></li>
        <li><a href ="{{ site.scenario_settings }}format-specification.html" class="otherLinkColour">Configure Parameters for Specific Barcode Formats</a></li>
        <li><a href ="{{ site.scenario_settings }}recognise-accompanying-text.html" class="otherLinkColour">Recognise Accompanying Text</a></li>
    </ul>
</li>