<li><a href="{{ site.parameters_scenarios }}" class="otherLinkColour">Parameter Scenario Settings</a>
    <ul>
        <li><a href="{{ site.parameters_scenarios }}barcode-format-and-expected-barcode-counts.html" class="otherLinkColour">Setting the barcode formats</a></li>
        <li><a href="{{ site.parameters_scenarios }}deblur-level.html" class="otherLinkColour">Configuring DeblurLevel</a></li>
        <li><a href="{{ site.parameters_scenarios }}decode-result.html" class="otherLinkColour">Filter and sort decoding results</a></li>
        <li><a href="{{ site.parameters_scenarios }}dpm-decoding.html" class="otherLinkColour">Reading DPM Codes</a></li>
        <li><a href="{{ site.parameters_scenarios }}how-to-set-barcode-complememt-modes.html" class="otherLinkColour">Decoding Incomplete Barcodes</a></li>
        <li><a href="{{ site.parameters_scenarios }}how-to-set-binarization-modes.html" class="otherLinkColour">Configuring Binarization Modes</a></li>
        <li><a href="{{ site.parameters_scenarios }}how-to-set-localization-modes.html" class="otherLinkColour">Setting Localization Modes</a></li>
        <li><a href="{{ site.parameters_scenarios }}how-to-set-parameters.html" class="otherLinkColour">Different methods to set DBR parameters</a></li>
        <li><a href="{{ site.parameters_scenarios }}how-to-set-scaleup-modes.html" class="otherLinkColour">Read barcodes with small module sizes</a></li>
        <li><a href="{{ site.parameters_scenarios }}how-to-use-region-predetection.html" class="otherLinkColour">Using Region Predetection</a></li>
        <li><a href="{{ site.parameters_scenarios }}image-preprocessing.html" class="otherLinkColour">Utilize Image Preprocessing Algorithms</a></li>
        <li><a href="{{ site.parameters_scenarios }}image-scale-and-colour-conversion.html" class="otherLinkColour">Image Scaling and Colour Transformation</a></li>
        <li><a href="{{ site.parameters_scenarios }}intermediate-result.html" class="otherLinkColour">Obtain and use Intermediate Results</a></li>
        <li><a href="{{ site.parameters_scenarios }}manually-define-region-of-interest.html" class="otherLinkColour">Defining a Region of Interest</a></li>
        <li><a href="{{ site.parameters_scenarios }}multipage-imgs-and-pdf.html" class="otherLinkColour">Dealing with PDFs and TIFs</a></li>
        <li><a href="{{ site.parameters_scenarios }}image-scale-and-colour-conversion.html" class="otherLinkColour">Image Scaling and Colour Transformation</a></li>