<li><a href="{{ site.parameters }}structure-and-interfaces-of-parameters.html" class="otherLinkColour">Template Structure</a>
    <ul>
        <li><a href="{{ site.parameters_reference }}image-parameter/" class="otherLinkColour">ImageParameter Object</a>
        </li>
        <li><a href="{{ site.parameters_reference }}region-definition/" class="otherLinkColour">RegionDefinition Object</a>
        </li>
        <li><a href="{{ site.parameters_reference }}format-specification/" class="otherLinkColour">FormatSpecification Object</a>
        </li> 
    </ul>
</li>