<li><a href="{{ site.parameters_reference }}" class="otherLinkColour">Reference</a>
    <ul>
        <li><span class="unavailableLink">ImageParameter Object</span>
            <ul>
                <li><a href="{{ site.parameters_reference }}image-parameter/AccompanyingTextRecognitionModes.html#accompanyingtextrecognitionmodes" class="otherLinkColour">AccompanyingTextRecognitionModes</a></li>
                <li><a href="{{ site.parameters_reference }}image-parameter/BarcodeColourModes.html#barcodecolourmodes" class="otherLinkColour">BarcodeColourModes</a></li>
                <li><a href="{{ site.parameters_reference }}image-parameter/BarcodeComplementModes.html#barcodecomplementmodes" class="otherLinkColour">BarcodeComplementModes</a></li>
                <li><a href="{{ site.parameters_reference }}image-parameter/format-control.html#barcodeformatids" class="otherLinkColour">BarcodeFormatIds</a>
                <li><a href="{{ site.parameters_reference }}image-parameter/format-control.html#barcodeformatids_2" class="otherLinkColour">BarcodeFormatIds_2</a>
                <li><a href="{{ site.parameters_reference }}image-parameter/BinarizationModes.html#binarizationmodes" class="otherLinkColour">BinarizationModes</a></li>
                <li><a href="{{ site.parameters_reference }}image-parameter/ColourClusteringModes.html#colourclusteringmodes" class="otherLinkColour">ColourClusteringModes</a></li>
                <li><a href="{{ site.parameters_reference }}image-parameter/ColourConversionModes.html#colourconversionmodes" class="otherLinkColour">ColourConversionModes</a></li>
                <li><a href="{{ site.parameters_reference }}image-parameter/image-process-control.html#deblurlevel" class="otherLinkColour">DeblurLevel</a></li>
                <li><a href="{{ site.parameters_reference }}image-parameter/DeformationResistingModes.html#deformationresistingmodes" class="otherLinkColour">DeformationResistingModes</a></li>
                <li><a href="{{ site.parameters_reference }}image-parameter/content-organization-control.html#description" class="otherLinkColour">Description</a></li>
                <li><a href="{{ site.parameters_reference }}image-parameter/DPMCodeReadingModes.html#dpmcodereadingmodes" class="otherLinkColour">DPMCodeReadingModes</a></li>
                <li><a href="{{ site.parameters_reference }}image-parameter/cost-control.html#expectedbarcodescount" class="otherLinkColour">ExpectedBarcodesCount</a></li>
                <li><a href="{{ site.parameters_reference }}image-parameter/content-organization-control.html#formatspecificationnamearray" class="otherLinkColour">FormatSpecificationNameArray</a></li>
                <li><a href="{{ site.parameters_reference }}image-parameter/GrayscaleTransformationModes.html#grayscaletransformationmodes" class="otherLinkColour">GrayscaleTransformationModes</a></li>
                <li><a href="{{ site.parameters_reference }}image-parameter/ImagePreprocessingModes.html#imagepreprocessingmodes" class="otherLinkColour">ImagePreprocessingModes</a></li>
                <li><a href="{{ site.parameters_reference }}image-parameter/result-control.html#intermediateresulttypes" class="otherLinkColour">IntermediateResultTypes</a></li>
                <li><a href="{{ site.parameters_reference }}image-parameter/IntermediateResultSavingMode.html#intermediateresultsavingmode" class="otherLinkColour">IntermediateResultSavingMode</a></li>
                <li><a href="{{ site.parameters_reference }}image-parameter/LocalizationModes.html#localizationmodes" class="otherLinkColour">LocalizationModes</a></li>
                <li><a href="{{ site.parameters_reference }}image-parameter/cost-control.html#maxalgorithmthreadcount" class="otherLinkColour">MaxAlgorithmThreadCount</a></li>
                <li><a href="{{ site.parameters_reference }}image-parameter/content-organization-control.html#name" class="otherLinkColour">Name</a></li>
                <li><a href="{{ site.parameters_reference }}image-parameter/image-process-control.html#pages" class="otherLinkColour">Pages</a></li>
                <li><a href="{{ site.parameters_reference }}image-parameter/image-process-control.html#pdfrasterdpi" class="otherLinkColour">PDFRasterDPI</a></li>
                <li><a href="{{ site.parameters_reference }}image-parameter/image-process-control.html#pdfreadingmode" class="otherLinkColour">PDFReadingMode</a></li>
                <li><a href="{{ site.parameters_reference }}image-parameter/content-organization-control.html#regiondefinitionnamearray" class="otherLinkColour">RegionDefinitionNameArray</a></li>
                <li><a href="{{ site.parameters_reference }}image-parameter/RegionPredetectionModes.html#regionpredetectionmodes" class="otherLinkColour">RegionPredetectionModes</a></li>
                <li><a href="{{ site.parameters_reference }}image-parameter/result-control.html#resultcoordinatetype" class="otherLinkColour">ResultCoordinateType</a></li>
                <li><a href="{{ site.parameters_reference }}image-parameter/result-control.html#returnbarcodezoneclarity" class="otherLinkColour">ReturnBarcodeZoneClarity</a></li>
                <li><a href="{{ site.parameters_reference }}image-parameter/image-process-control.html#scaledownthreshold" class="otherLinkColour">ScaleDownThreshold</a></li>
                <li><a href="{{ site.parameters_reference }}image-parameter/ScaleUpModes.html#scaleupmodes" class="otherLinkColour">ScaleUpModes</a></li>
                <li><a href="{{ site.parameters_reference }}image-parameter/cost-control.html#terminatephase" class="otherLinkColour">TerminatePhase</a></li>
                <li><a href="{{ site.parameters_reference }}image-parameter/TextAssistedCorrectionMode.html#textassistedcorrectionmode" class="otherLinkColour">TextAssistedCorrectionMode</a></li>
                <li><a href="{{ site.parameters_reference }}image-parameter/TextFilterModes.html#textfiltermodes" class="otherLinkColour">TextFilterModes</a></li>
                <li><a href="{{ site.parameters_reference }}image-parameter/TextResultOrderModes.html#textresultordermodes" class="otherLinkColour">TextResultOrderModes</a></li>
                <li><a href="{{ site.parameters_reference }}image-parameter/TextureDetectionModes.html#texturedetectionmodes" class="otherLinkColour">TextureDetectionModes</a></li>
                <li><a href="{{ site.parameters_reference }}image-parameter/cost-control.html#timeout" class="otherLinkColour">Timeout</a></li>	
            </ul>
        </li>
        <li><span class="unavailableLink">RegionDefinition Object</span>
            <ul>
                <li><a href="{{ site.parameters_reference }}region-definition/format-control.html#barcodeformatids" class="otherLinkColour">BarcodeFormatIds</a></li>
                <li><a href="{{ site.parameters_reference }}region-definition/format-control.html#barcodeformatids_2" class="otherLinkColour">BarcodeFormatIds_2</a></li>
                <li><a href="{{ site.parameters_reference }}region-definition/image-process-control.html#bottom" class="otherLinkColour">Bottom</a></li>
                <li><a href="{{ site.parameters_reference }}region-definition/cost-control.html#expectedbarcodescount" class="otherLinkColour">ExpectedBarcodesCount</a></li>
                <li><a href="{{ site.parameters_reference }}region-definition/content-organization-control.html#formatspecificationnamearray" class="otherLinkColour">FormatSpecificationNameArray</a></li>
                <li><a href="{{ site.parameters_reference }}region-definition/image-process-control.html#left" class="otherLinkColour">Left</a></li>
                <li><a href="{{ site.parameters_reference }}region-definition/image-process-control.html#measuredbypercentage" class="otherLinkColour">MeasuredByPercentage</a></li>
                <li><a href="{{ site.parameters_reference }}region-definition/content-organization-control.html#name" class="otherLinkColour">Name</a></li>
                <li><a href="{{ site.parameters_reference }}region-definition/image-process-control.html#right" class="otherLinkColour">Right</a></li>
                <li><a href="{{ site.parameters_reference }}region-definition/image-process-control.html#top" class="otherLinkColour">Top</a></li>		
            </ul>
        </li>
        <li><span class="unavailableLink">FormatSpecification Object</span>
            <ul>
                <li><a href="{{ site.parameters_reference }}format-specification/image-process-control.html#accompanyingtextrecognitionmodes" class="otherLinkColour">AccompanyingTextRecognitionModes</a></li>
                <li><a href="{{ site.parameters_reference }}format-specification/format-control.html#allmoduledeviation" class="otherLinkColour">AllModuleDeviation</a></li>
                <li><a href="{{ site.parameters_reference }}format-specification/format-control.html#australianpostencodingtable" class="otherLinkColour">AustralianPostEncodingTable</a></li>
                <li><a href="{{ site.parameters_reference }}format-specification/format-control.html#barcodeanglerangearray" class="otherLinkColour">BarcodeAngleRangeArray</a></li>
                <li><a href="{{ site.parameters_reference }}format-specification/format-control.html#barcodebyteslengthrangearray" class="otherLinkColour">BarcodeBytesLengthRangeArray</a></li>
                <li><a href="{{ site.parameters_reference }}format-specification/format-control.html#barcodebytesregexpattern" class="otherLinkColour">BarcodeBytesRegExPattern</a></li>
                <li><a href="{{ site.parameters_reference }}format-specification/image-process-control.html#barcodecomplementmodes" class="otherLinkColour">BarcodeComplementModes</a></li>
                <li><a href="{{ site.parameters_reference }}format-specification/format-control.html#barcodeformatids" class="otherLinkColour">BarcodeFormatIds</a></li>
                <li><a href="{{ site.parameters_reference }}format-specification/format-control.html#barcodeformatids_2" class="otherLinkColour">BarcodeFormatIds_2</a></li>
                <li><a href="{{ site.parameters_reference }}format-specification/format-control.html#barcodeheightrangearray" class="otherLinkColour">BarcodeHeightRangeArray</a></li>
                <li><a href="{{ site.parameters_reference }}format-specification/format-control.html#barcodetextlengthrangearray" class="otherLinkColour">BarcodeTextLengthRangeArray</a></li>
                <li><a href="{{ site.parameters_reference }}format-specification/format-control.html#barcodetextregexpattern" class="otherLinkColour">BarcodeTextRegExPattern</a></li>
                <li><a href="{{ site.parameters_reference }}format-specification/format-control.html#barcodewidthrangearray" class="otherLinkColour">BarcodeWidthRangeArray</a></li>
                <li><a href="{{ site.parameters_reference }}format-specification/format-control.html#code128subset" class="otherLinkColour">Code128Subset</a></li>
                <li><a href="{{ site.parameters_reference }}format-specification/image-process-control.html#deblurlevel" class="otherLinkColour">DeblurLevel</a></li>
                <li><a href="{{ site.parameters_reference }}format-specification/image-process-control.html#deformationresistingmodes" class="otherLinkColour">DeformationResistingModes</a></li>
                <li><a href="{{ site.parameters_reference }}format-specification/format-control.html#findunevenmodulebarcode" class="otherLinkColour">FindUnevenModuleBarcode</a></li>
                <li><a href="{{ site.parameters_reference }}format-specification/format-control.html#headmoduleratio" class="otherLinkColour">HeadModuleRatio</a></li>
                <li><a href="{{ site.parameters_reference }}format-specification/format-control.html#minquietzonewidth" class="otherLinkColour">MinQuietZoneWidth</a></li>
                <li><a href="{{ site.parameters_reference }}format-specification/result-control.html#minresultconfidence" class="otherLinkColour">MinResultConfidence</a></li>
                <li><a href="{{ site.parameters_reference }}format-specification/format-control.html#mirrormode" class="otherLinkColour">MirrorMode</a></li>
                <li><a href="{{ site.parameters_reference }}format-specification/format-control.html#modulesizerangearray" class="otherLinkColour">ModuleSizeRangeArray</a></li>
                <li><a href="{{ site.parameters_reference }}format-specification/content-organization-control.html#name" class="otherLinkColour">Name</a></li>
                <li><a href="{{ site.parameters_reference }}format-specification/format-control.html#requirestartstopchars" class="otherLinkColour">RequireStartStopChars</a></li>
                <li><a href="{{ site.parameters_reference }}format-specification/result-control.html#returnpartialbarcodevalue" class="otherLinkColour">ReturnPartialBarcodeValue</a></li>
                <li><a href="{{ site.parameters_reference }}format-specification/format-control.html#Standardformat" class="otherLinkColour">StandardFormat</a></li>
                <li><a href="{{ site.parameters_reference }}format-specification/format-control.html#tailmoduleratio" class="otherLinkColour">TailModuleRatio</a></li>	
            </ul>
        </li>                
    </ul>
</li>