<li><a href="{{ site.parameters_reference }}" class="otherLinkColour">Reference</a>
    <ul>
        <li><a href="{{ site.parameters_reference }}all-module-deviation.html" class="otherLinkColour">AllModuleDeviation</a></li>
        <li><a href="{{ site.parameters_reference }}australian-post-encoding-table.html" class="otherLinkColour">AustralianPostEncodingTable</a></li>
        <li><a href="{{ site.parameters_reference }}barcode-angle-range-array.html" class="otherLinkColour">BarcodeAngleRangeArray</a></li>
        <li><a href="{{ site.parameters_reference }}barcode-bytes-length-range-array.html" class="otherLinkColour">BarcodeBytesLengthRangeArray</a></li>
        <li><a href="{{ site.parameters_reference }}barcode-bytes-regex-pattern.html" class="otherLinkColour">BarcodeBytesRegExPattern</a></li>
        <li><a href="{{ site.parameters_reference }}barcode-colour-modes.html" class="otherLinkColour">BarcodeColourModes</a></li>
        <li><a href="{{ site.parameters_reference }}barcode-complement-modes.html" class="otherLinkColour">BarcodeComplementModes</a></li>
        <li><a href="{{ site.parameters_reference }}barcode-format-ids.html" class="otherLinkColour">BarcodeFormatIds</a></li>
        <li><a href="{{ site.parameters_reference }}barcode-format-ids-2.html" class="otherLinkColour">BarcodeFormatIds_2</a></li>
        <li><a href="{{ site.parameters_reference }}barcode-height-range-array.html" class="otherLinkColour">BarcodeHeightRangeArray</a></li>
        <li><a href="{{ site.parameters_reference }}barcode-text-length-range-array.html" class="otherLinkColour">BarcodeTextLengthRangeArray</a></li>
        <li><a href="{{ site.parameters_reference }}barcode-text-regex-pattern.html" class="otherLinkColour">BarcodeTextRegExPattern</a></li>
        <li><a href="{{ site.parameters_reference }}barcode-width-range-array.html" class="otherLinkColour">BarcodeWidthRangeArray</a></li>
        <li><a href="{{ site.parameters_reference }}barcode-zone-bar-count-range-array.html" class="otherLinkColour">BarcodeZoneBarCountRangeArray</a></li>
        <li><a href="{{ site.parameters_reference }}barcode-zone-min-distance-to-image-borders.html" class="otherLinkColour">BarcodeZoneMinDistanceToImageBorders</a></li>
        <li><a href="{{ site.parameters_reference }}binarization-modes.html" class="otherLinkColour">BinarizationModes</a></li>
        <li><a href="{{ site.parameters_reference }}code128-subset.html" class="otherLinkColour">Code128Subset</a></li>
        <li><a href="{{ site.parameters_reference }}colour-clustering-modes.html" class="otherLinkColour">ColourClusteringModes</a></li>
        <li><a href="{{ site.parameters_reference }}colour-conversion-modes.html" class="otherLinkColour">ColourConversionModes</a></li>
        <li><a href="{{ site.parameters_reference }}deblur-level.html" class="otherLinkColour">DeblurLevel</a></li>
        <li><a href="{{ site.parameters_reference }}deblur-modes.html" class="otherLinkColour">DeblurModes</a></li>
        <li><a href="{{ site.parameters_reference }}deformation-resisting-modes.html" class="otherLinkColour">DeformationResistingModes</a></li>
        <li><a href="{{ site.parameters_reference }}dpm-code-reading-modes.html" class="otherLinkColour">DPMCodeReadingModes</a></li>
        <li><a href="{{ site.parameters_reference }}expected-barcodes-count.html" class="otherLinkColour">ExpectedBarcodesCount</a></li>
        <li><a href="{{ site.parameters_reference }}find-uneven-module-barcode.html" class="otherLinkColour">FindUnevenModuleBarcode</a></li>
        <li><a href="{{ site.parameters_reference }}grayscale-transformation-modes.html" class="otherLinkColour">GrayscaleTransformationModes</a></li>
        <li><a href="{{ site.parameters_reference }}head-module-ratio.html" class="otherLinkColour">HeadModuleRatio</a></li>
        <li><a href="{{ site.parameters_reference }}image-preprocessing-modes.html" class="otherLinkColour">ImagePreprocessingModes</a></li>
        <li><a href="{{ site.parameters_reference }}intermediate-result-saving-mode.html" class="otherLinkColour">IntermediateResultSavingMode</a></li>
        <li><a href="{{ site.parameters_reference }}intermediate-result-types.html" class="otherLinkColour">IntermediateResultTypes</a></li>
        <li><a href="{{ site.parameters_reference }}localization-modes.html" class="otherLinkColour">LocalizationModes</a></li>
        <li><a href="{{ site.parameters_reference }}max-algorithm-thread-count.html" class="otherLinkColour">MaxAlgorithmThreadCount</a></li>
        <li><a href="{{ site.parameters_reference }}min-quiet-zone-width.html" class="otherLinkColour">MinQuietZoneWidth</a></li>
        <li><a href="{{ site.parameters_reference }}min-ratio-of-barcode-zone-width-to-height.html" class="otherLinkColour">MinRatioOfBarcodeZoneWidthToHeight</a></li>
        <li><a href="{{ site.parameters_reference }}min-result-confidence.html" class="otherLinkColour">MinResultConfidence</a></li>
        <li><a href="{{ site.parameters_reference }}mirror-mode.html" class="otherLinkColour">MirrorMode</a></li>
        <li><a href="{{ site.parameters_reference }}module-size-range-array.html" class="otherLinkColour">ModuleSizeRangeArray</a></li>
        <li><a href="{{ site.parameters_reference }}pages.html" class="otherLinkColour">Pages</a></li>
        <li><a href="{{ site.parameters_reference }}pdf-raster-dpi.html" class="otherLinkColour">PDFRasterDPI</a></li>
        <li><a href="{{ site.parameters_reference }}pdf-reading-mode.html" class="otherLinkColour">PDFReadingMode</a></li>
        <li><a href="{{ site.parameters_reference }}region.html" class="otherLinkColour">Region</a></li>
        <li><a href="{{ site.parameters_reference }}region-predetection-modes.html" class="otherLinkColour">RegionPredetectionModes</a></li>
        <li><a href="{{ site.parameters_reference }}require-start-stop-chars.html" class="otherLinkColour">RequireStartStopChars</a></li>
        <li><a href="{{ site.parameters_reference }}result-coordinate-type.html" class="otherLinkColour">ResultCoordinateType</a></li>
        <li><a href="{{ site.parameters_reference }}return-barcode-zone-clarity.html" class="otherLinkColour">ReturnBarcodeZoneClarity</a></li>
        <li><a href="{{ site.parameters_reference }}return-partial-barcode-value.html" class="otherLinkColour">ReturnPartialBarcodeValue</a></li>
        <li><a href="{{ site.parameters_reference }}scale-down-threshold.html" class="otherLinkColour">ScaleDownThreshold</a></li>
        <li><a href="{{ site.parameters_reference }}scale-up-modes.html" class="otherLinkColour">ScaleUpModes</a></li>
        <li><a href="{{ site.parameters_reference }}standard-format.html" class="otherLinkColour">StandardFormat</a></li>
        <li><a href="{{ site.parameters_reference }}tail-module-ratio.html" class="otherLinkColour">TailModuleRatio</a></li>
        <li><a href="{{ site.parameters_reference }}terminate-phase.html" class="otherLinkColour">TerminatePhase</a></li>
        <li><a href="{{ site.parameters_reference }}text-assisted-correction-mode.html" class="otherLinkColour">TextAssistedCorrectionMode</a></li>
        <li><a href="{{ site.parameters_reference }}text-filter-modes.html" class="otherLinkColour">TextFilterModes</a></li>
        <li><a href="{{ site.parameters_reference }}texture-detection-modes.html" class="otherLinkColour">TextureDetectionModes</a></li>
        <li><a href="{{ site.parameters_reference }}text-result-order-modes.html" class="otherLinkColour">TextResultOrderModes</a></li>
        <li><a href="{{ site.parameters_reference }}time-out.html" class="otherLinkColour">Timeout</a></li>
</ul>
</li>