<li><a href="{{ site.enumerations }}" class="otherLinkColour">Enumerations</a>
    <ul>
        <li><a href="{{ site.enumerations }}error-code.html" class="otherLinkColour">Error Code</a></li>
        <li><a href="{{ site.enumerations }}format-enums.html" class="otherLinkColour">Format Enumerations</a></li>
        <li><a href="{{ site.enumerations }}frame-decoding-enums.html" class="otherLinkColour">Frame Decoding Enumerations</a></li>
        <li><a href="{{ site.enumerations }}other-enums.html" class="otherLinkColour">Other Enumerations</a></li>
        <li><a href="{{ site.enumerations }}parameter-mode-enums.html" class="otherLinkColour">Parameter Mode Enumerations</a></li>
        <li><a href="{{ site.enumerations }}result-enums.html" class="otherLinkColour">Result Enumerations</a></li>
    </ul>
</li>