<li><a href="{{ site.enumerations }}" class="otherLinkColour">Enumerations</a>
    <ul>
        <li><a href="{{ site.enumerations }}parameter-mode-enums.html#accompanyingtextrecognitionmode" class="otherLinkColour">AccompanyingTextRecognitionMode</a></li>
        <li><a href="{{ site.enumerations }}parameter-mode-enums.html#barcodecolourmode" class="otherLinkColour">BarcodeColourMode</a></li>
        <li><a href="{{ site.enumerations }}parameter-mode-enums.html#barcodecomplementmode" class="otherLinkColour">BarcodeComplementMode</a></li>
        <li><a href="{{ site.enumerations }}format-enums.html#barcodeformat" class="otherLinkColour">BarcodeFormat</a></li>
        <li><a href="{{ site.enumerations }}format-enums.html#barcodeformat_2" class="otherLinkColour">BarcodeFormat_2</a></li>
        <li><a href="{{ site.enumerations }}parameter-mode-enums.html#binarizationmode" class="otherLinkColour">BinarizationMode</a></li>
        <li><a href="{{ site.enumerations }}frame-decoding-enums.html#claritycalculationmethod" class="otherLinkColour">ClarityCalculationMethod</a></li>
        <li><a href="{{ site.enumerations }}frame-decoding-enums.html#clarityfiltermode" class="otherLinkColour">ClarityFilterMode</a></li>
        <li><a href="{{ site.enumerations }}parameter-mode-enums.html#colourclusteringmode" class="otherLinkColour">ColourClusteringMode</a></li>
        <li><a href="{{ site.enumerations }}parameter-mode-enums.html#colourconversionmode" class="otherLinkColour">ColourConversionMode</a></li>
        <li><a href="{{ site.enumerations }}parameter-mode-enums.html#conflictmode" class="otherLinkColour">ConflictMode</a></li>
        <li><a href="{{ site.enumerations }}parameter-mode-enums.html#deformationresistingmode" class="otherLinkColour">DeformationResistingMode</a></li>
        <li><a href="{{ site.enumerations }}parameter-mode-enums.html#dpmcodereadingmode" class="otherLinkColour">DPMCodeReadingMode</a></li>
        <li><a href="{{ site.enumerations }}error-code.html" class="otherLinkColour">ErrorCode</a></li>
        <li><a href="{{ site.enumerations }}parameter-mode-enums.html#grayscaletransformationmode" class="otherLinkColour">GrayscaleTransformationMode</a></li>
        <li><a href="{{ site.enumerations }}other-enums.html#imagepixelformat" class="otherLinkColour">ImagePixelFormat</a></li>
        <li><a href="{{ site.enumerations }}parameter-mode-enums.html#imagepreprocessingmode" class="otherLinkColour">ImagePreprocessingMode</a></li>
        <li><a href="{{ site.enumerations }}result-enums.html#imresultdatatype" class="otherLinkColour">IMResultDataType</a></li>
        <li><a href="{{ site.enumerations }}result-enums.html#intermediateresultsavingmode" class="otherLinkColour">IntermediateResultSavingMode</a></li>
        <li><a href="{{ site.enumerations }}result-enums.html#intermediateresulttype" class="otherLinkColour">IntermediateResultType</a></li>
        <li><a href="{{ site.enumerations }}parameter-mode-enums.html#localizationmode" class="otherLinkColour">LocalizationMode</a></li>
        <li><a href="{{ site.enumerations }}other-enums.html#qrcodeerrorcorrectionlevel" class="otherLinkColour">QRCodeErrorCorrectionLevel</a></li>
        <li><a href="{{ site.enumerations }}result-enums.html#resultcoordinatetype" class="otherLinkColour">ResultCoordinateType</a></li>
        <li><a href="{{ site.enumerations }}parameter-mode-enums.html#regionpredetectionmode" class="otherLinkColour">RegionPredetectionMode</a></li>
        <li><a href="{{ site.enumerations }}result-enums.html#resulttype" class="otherLinkColour">ResultType</a></li>
        <li><a href="{{ site.enumerations }}parameter-mode-enums.html#scaleupmode" class="otherLinkColour">ScaleUpMode</a></li>
        <li><a href="{{ site.enumerations }}parameter-mode-enums.html#terminatephase" class="otherLinkColour">TerminatePhase</a></li>
        <li><a href="{{ site.enumerations }}parameter-mode-enums.html#textassistedcorrectionmode" class="otherLinkColour">TextAssistedCorrectionMode</a></li>
        <li><a href="{{ site.enumerations }}parameter-mode-enums.html#textfiltermode" class="otherLinkColour">TextFilterMode</a></li>
        <li><a href="{{ site.enumerations }}result-enums.html#textresultordermode" class="otherLinkColour">TextResultOrderMode</a></li>
        <li><a href="{{ site.enumerations }}parameter-mode-enums.html#texturedetectionmode" class="otherLinkColour">TextureDetectionMode</a></li>
    </ul>
</li>