<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.web>

  </system.web>
  <system.webServer>
    <rewrite>
      <rules>
        <clear />
        <!-- For Example -->
        <!-- Important!!! Rule Name can't be repeated.  -->
        <!-- <rule name="Rewrite introduction index" stopProcessing="true">
          <match url="/introduction/index.html" />
          <action type="Rewrite" url="https://www.dynamsoft.com/barcode-reader/resources/" appendQueryString="true"  />
        </rule> -->
      </rules>
    </rewrite>
  </system.webServer>
</configuration>