<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.web>

  </system.web>
  <system.webServer>
    <rewrite>
      <rules>
       <!-- <clear /> -->
        <!-- For Example -->
        <!-- Important!!! Rule Name can't be repeated.  -->
        <!-- <rule name="Rewrite Resource Page" stopProcessing="true">
          <match url="about/index.html" />
          <action type="Rewrite" url="https://www.dynamsoft.com/web-twain/resources/" appendQueryString="true"  />
        </rule> -->
        
         <rule name="Redirect rule1 for redirect dbr docs programming pages" enabled="true" patternSyntax="ECMAScript">
           <match url="javascript/user-guide/getting-started.html" ignoreCase="true" negate="false" />
            <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
             <action type="Redirect" url="https://www.dynamsoft.com/barcode-reader/programming/javascript/user-guide/?ver=latest#getting-started---hello-world" appendQueryString="false" logRewrittenUrl="false" />
         </rule>   
      </rules>
    </rewrite>
  </system.webServer>
</configuration>
