<style>
  #cp-header .action-buttons { display: none; }
  #mdHeader { border-bottom: 0!important; }
  #sideBarCnt.sidebar-fixed { position: fixed; max-height: unset; }
  .rightSideMenu.rsm-fixed { position: fixed; top: 100px; }
  #docHead { top: 186px; }
  .productMenu .downloadBtn:hover { color: #ffffff!important; }
  /* .sideBar { padding-top: 77px; } */
  @media (max-width: 1679px){
    #docHead {
      top: 145px;
    }
  }
</style>

<div id="BarcodeReader" class="main">
    <div id="BarcodeReaderMenu" class="productMenu">
        <div class="container pcProductMenu">
            <div class="row">
                <div class="col-xs-12">
                    <ul class="menuList">
                        <li class="title"><a class="orangeLink" href="https://www.dynamsoft.com/barcode-reader/overview/">Dynamsoft Barcode Reader</a></li>
                        <li class="item overview">
                            <a class="textUpperCase" href="https://www.dynamsoft.com/barcode-reader/overview/">Overview</a>
                        </li>
                        <li class="item features">
                            <a class="textUpperCase" href="https://www.dynamsoft.com/barcode-reader/features">Features</a>
                        </li>
                        <li class="item">
                            <span class="showMenuMore textUpperCase">Languages <i class="icon-orange-angle"></i></span>
                            <ul class="ct-more" style="display: none">
                                <i class="icon-orange-angle"></i>
                                <li class="item"><a class="js" href="https://www.dynamsoft.com/barcode-reader/sdk-javascript/">JavaScript Web SDK<div>JS/WebAssembly</div></a></li>
                                <li class="item"><a class="desktop" href="https://www.dynamsoft.com/barcode-reader/sdk-desktop-server/">Desktop/Server SDK<div>C/C++, .NET, Java, Python</div></a></li>
                                <li class="item"><a class="mobile" href="https://www.dynamsoft.com/barcode-reader/sdk-mobile/">Android/iOS SDK<div>Java, Kotlin, Objective-C, Swift</div></a></li>
                            </ul>
                        </li>
                        <li class="item resources on">
                            <span class="showMenuMore textUpperCase">Dev Center  <i class="icon-orange-angle"></i></span>
                            <ul class="ct-more" style="display: none">
                                <i class="icon-orange-angle"></i>
                                <li class="item"><a href="https://www.dynamsoft.com/barcode-reader/introduction/">Documentation</a></li>
                                <li class="item"><a href="https://www.dynamsoft.com/barcode-reader/resources/code-gallery/">Code Gallery</a></li>
                                <li class="item"><a href="https://www.dynamsoft.com/barcode-reader/release-notes/">Release Notes</a></li>
                                <li class="item"><a class="all-resources f16 mt20 orangeLink" href="https://www.dynamsoft.com/barcode-reader/resources/">See All resources ></a></li>
                            </ul>
                        </li>
                        <li class="item textUpperCase buy"><a href="https://www.dynamsoft.com/store/dynamsoft-barcode-reader">Buy</a></li>
                    </ul>
                    <a class="downloadBtn fr hide-lg textUpperCase" href="https://www.dynamsoft.com/barcode-reader/downloads">Download Free Trial</a>
                </div>
            </div>
        </div>
        <div class="container mobileProductMenu">
            <div class="row">
                <div class="col-xs-12">
                    <div class="productLogo"><i class="dbr-logo"></i> <i class="icon-orange-angle"></i></div>
                    <div id="dbrCurrentPage" class="fontOswald fr currentPage">Dev Center</div>
                </div>
            </div>
        </div>
        <div class="mobileProductDetailMenu">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <ul class="menuList">
                            <li class="item"><a href="https://www.dynamsoft.com/barcode-reader/overview/">Overview</a></li>
                            <li class="item features">
                                <a class="textUpperCase" href="https://www.dynamsoft.com/barcode-reader/features">Features</a>
                            </li>
                            <li class="item">
                                <span class="showMenuMore textUpperCase">Languages <i class="icon-orange-angle"></i></span>
                                <ul class="ct-more" style="display: none">
                                    <li class="item"><a href="https://www.dynamsoft.com/barcode-reader/sdk-javascript/">JavaScript Web SDK<div>JS/WebAssembly</div></a></li>
                                    <li class="item"><a href="https://www.dynamsoft.com/barcode-reader/sdk-desktop-server/">Desktop/Server SDK<div>C/C++, .NET, Java, Python</div></a></li>
                                    <li class="item"><a href="https://www.dynamsoft.com/barcode-reader/sdk-mobile/">Android/iOS SDK<div>Java, Kotlin, Objective-C, Swift</div></a></li>
                                </ul>
                            </li>
                            <li class="item resources">
                                <span class="showMenuMore textUpperCase">Dev Center  <i class="icon-orange-angle"></i></span>
                                <ul class="ct-more" style="display: none">
                                    <li class="item"><a href="https://www.dynamsoft.com/barcode-reader/introduction/">Documentation</a></li>
                                    <li class="item"><a href="https://www.dynamsoft.com/barcode-reader/resources/code-gallery/">Code Gallery</a></li>
                                    <li class="item"><a href="https://www.dynamsoft.com/barcode-reader/release-notes/">Release Notes</a></li>
                                    <li class="item"><a class="all-resources f16 mt20 orangeLink" href="https://www.dynamsoft.com/barcode-reader/resources/">See All resources ></a></li>
                                </ul>
                            </li>
                            <li class="item textUpperCase"><a id="DBRBuyBtn" href="https://www.dynamsoft.com/store/dynamsoft-barcode-reader">Buy</a></li>
                            <li class="item textUpperCase"><a class="orangeLink" href="https://www.dynamsoft.com/barcode-reader/downloads">30-day free trial</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

