<head>
    <title>{{ page.title }}</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="{{ page.description }}" />
    
    <meta name="keywords" content="{{ page.keywords }}" />

    <link href="{{ site.docFullPath }}{{ page.url }}" rel="canonical">
    
    <script type="application/ld+json">
	{"@type":"WebPage","description":"user guide layout.","@context":"https://schema.org"}</script>

    <link rel="stylesheet" href="{{ site.assets }}css/style.css?v=b8601a47f85e9c71565aa6c079c8988cd98cc1e7">

    <link rel="stylesheet" href="{{ site.assets }}css/bootstrap.min.css">

    <link rel="stylesheet" href="{{ site.assets }}css/font-awesome.min.css">

    <link rel="stylesheet" href="{{ site.assets }}css/basis-bs.min.css?v=b202001019">

    <link rel="stylesheet" href="{{ site.assets }}css/basis.css?v=b202001019">

    <script type="text/javascript" src="{{ site.assets }}js/jquery-3.5.0.min.js"></script>
    <script type="text/javascript" src="{{ site.assets }}js/bootstrap.min.js"></script>
    <script type="text/javascript" src="{{ site.assets }}js/ds-jquery-bs.js"></script>
    <script type="text/javascript" src="{{ site.assets }}js/index-banner.js"></script>
    <script type="text/javascript" src="{{ site.assets }}js/historymanage.js"></script>
</head>
