{%- assign historyRecode = "" -%}

{%- for my_page in site.pages -%}
	{%- capture tmpPageVersion -%}
		{%- if my_page.url contains '-v' -%}
			{{ my_page.url |  split: '-v' | last | split: '/' | first | replace: '.html', '' | rstrip }}
		{%- else -%}
			{%- continue -%}
		{%- endif -%}
	{%- endcapture -%}

    {%- assign newVer = true -%}
    {%- assign splitVer = "" -%}
	{%- assign historyAry = historyRecode | split: '/' -%}
    {%- for history in historyAry -%}
        {%- if history == tmpPageVersion -%}
            {%- assign newVer = false -%}
            {%- break -%}
        {%- endif -%}
        {%- if history < tmpPageVersion -%}
            {%- assign splitVer = history -%}
            {%- break -%}
        {%- endif -%}
    {%- endfor -%}
    
    {%- unless newVer -%}
	{%- continue -%}
    {%- endunless -%}
    
    {%- if splitVer == "" -%}
        {%- assign historyRecode = historyRecode | append: tmpPageVersion | append: '/' -%}
    {%- else -%}
        {%- assign frontText = historyRecode | split: splitVer | first -%}
        {%- assign behindText = historyRecode | split: splitVer | last -%}
        {%- assign historyRecode = frontText | append: tmpPageVersion | append: '/' | append: splitVer | append: behindText -%}
    {%- endif -%}
{%- endfor -%}


<ul class="fullVersionInfo">
    <li onclick="changeVersion(this)">Latest Version</li>
{%- assign historyAry = historyRecode | split: '/' -%}
{%- for history in historyAry -%}
    <li onclick="changeVersion(this)">{{ "version " | append: history }}</li>
{%- endfor -%}
</ul>

{%- if historyRecode != '' -%}
	<a class="fvChange fontOswald" href="javascript:;">Change +</a>
{%- endif -%}
