{%- assign level_ary = page.url | split: '/' -%}
<li><a class="bluelink" href = "https://www.dynamsoft.com/Products/Dynamic-Barcode-Reader.aspx">Dynamsoft Barcode Reader</a></li>
<li><a class="bluelink" href = "{{ site.programming }}">Documentation</a></li>
{%- for cur_level in level_ary -%}
    {%- assign breadcrumbUrl = page.url | split: cur_level | first | strip -%}
    {%- if breadcrumbUrl == "/" or breadcrumbUrl == "" -%}
        {%- continue -%}
    {%- endif -%}
    {%- for my_page in site.pages -%}
        {%- if breadcrumbUrl == my_page.url | strip -%}
            {%- assign listUrl = site.docHomePage | strip | append: breadcrumbUrl -%}
            <li><a class="bluelink" href = "{{ listUrl }}">{{ my_page.breadcrumbText }}</a></li>
            {%- break -%}
        {%- endif -%}
    {%- endfor -%}
{%- endfor -%}
{%- if page.url contains '.html' -%}

    <li id="breadcrumbLastNode"></li>
    {%- comment -%}
    {%- assign file_name =  level_ary | last |  split: '.' | first |  strip -%}
    {%- if file_name contains '-' -%}
        {%- assign file_name_str = file_name | split:'-' -%}
        {%- capture output_val -%}
            {%- for cur_str in file_name_str -%}
                {{ cur_str | capitalize | append: ' ' }}
            {%- endfor -%}
        {%- endcapture -%}
        <li>{{ output_val | strip }}</li>
    {%- else -%}
            <li>{{ file_name }}</li>
    {%- endif -%}
    {%- endcomment -%}
    
{%- else -%}
    {%- if page.breadcrumbText -%}
        {%- assign pageUrlWihtoutSpace = page.url | strip -%}
        {%- assign listUrl =  site.docHomePage | strip | append: pageUrlWihtoutSpace -%}
        <li><a class="bluelink" href = "{{ listUrl }}">{{ page.breadcrumbText }}</a></li>
    {%- endif -%}
{%- endif -%}
