<div class="col-xs-12 col-md-12 col-lg-9 col-xl-10">
    <div>
        <div id="crumbs">
            <ul>
                {%- include liquid_breadcrumb.html -%}
            </ul>
        </div>
        {%- comment -%}
            {%- include liquid_autoGenerateHistoryList.html -%}
        {%- endcomment -%}
    </div>
</div>
<div class="col-xs-12 col-md-12 col-lg-3 col-xl-2">
    <div>
        {% capture sourceCodeUrl %}		
            {% if page.url contains '.html' %}		
                {{ page.url | strip | replace: '.html', '.md'}}		
            {% else %}
                {{ page.url	| strip }}index.md
            {% endif %}
        {% endcapture %}
        <a href="{{ site.repositoryUrl }}{{ sourceCodeUrl | strip }}" class="editLinkColour">Edit<img src="{{ site.edit_icon }}" width="20px" height="15px" style="vertical-align: middle; margin-left: 5px; margin-top: -3px;" /></a>
    </div>
</div>
