
<div class="footerBottomCnt">
    <div id="footerBottom">
        <div class="container">
            <div class="row">
                <div class="ct-lt hidden-xs col-sm-4"><a class="ds-white" href="https://www.dynamsoft.com"></a></div>
                <div class="ct-ct col-xs-12 col-sm-8"><span class="sm-mr10">&copy; 2003–2020 Dynamsoft. All rights reserved.</span><br class="visible-xs"/>
                    <a href="https://www.dynamsoft.com/PrivacyStatement.aspx">Privacy Statement</a>&nbsp;/&nbsp;<a href="https://www.dynamsoft.com/SiteMap.aspx">Site Map</a><span class="visible-lg"> / <a href="https://www.dynamsoft.com/">Home</a> / <a href="https://www.dynamsoft.com/Support/How-to-purchase-Dynamsoft-products.aspx">Purchase</a> / <a href="https://www.dynamsoft.com/Support/Support.aspx">Support</a> </span></div>
                <div class="ct-rt socialMedia hidden-xs hidden-sm"><span><a class="linkedIn" href="http://www.linkedin.com/company/dynamsoft"></a></span><span><a class="fb" href="https://www.facebook.com/Dynamsoft"></a></span><span><a class="tw" href="https://twitter.com/dynamsoft"></a></span><span><a class="yt" href="https://www.youtube.com/user/Dynamsoft"></a></span></div>
            </div>
        </div>
    </div>
</div>
