<div id="overall-header"> 
    <!--xs-header-->
    <div id="xsHeader" class="visible-xs">
        <div id="xsMenu" class="container">
            <div class="row">
                <div class="col-xs-12"> <a class="ds-logo" href="https://www.dynamsoft.com"></a>
                    <div class="xsMenuToggle">
                        <div class="open"><span></span><span></span><span></span></div>
                        <span class="close">&times;</span>
                    </div>
                </div>
            </div>
        </div>
        <div id="xsNav">
            <div><span class="xsNavToggle">Products <i class="fa fa-caret-up" aria-hidden="true"></i></span></div>
            <ul class="products clearfix">
                <li><a href="https://www.dynamsoft.com/Products/WebTWAIN_Overview.aspx">Dynamic Web TWAIN</a></li>
                <li><a href="https://www.dynamsoft.com/Products/.Net-TWAIN-Scanner.aspx">Dynamic .Net TWAIN</a></li>
                <li><a href="https://www.dynamsoft.com/Products/Dynamic-Barcode-Reader.aspx">Dynamsoft Barcode Reader</a></li>
                <li><a href="https://www.dynamsoft.com/Products/dynamsoft-webcam-sdk.aspx">Dynamsoft Camera SDK</a></li>
                <li><a href="https://www.dynamsoft.com/Products/Products.aspx">See all</a></li>
            </ul>
            <ul class="company clearfix">
                <li><a class="bluelink" href="https://www.dynamsoft.com/Support/How-to-purchase-Dynamsoft-products.aspx">Pricing</a></li>
                <li><a class="bluelink" href="https://www.dynamsoft.com/Downloads/Downloads.aspx">Download</a></li>
                <li><a class="bluelink" href="https://www.dynamsoft.com/Support/Support.aspx">Support</a></li>
                <li><a class="bluelink" href="https://www.dynamsoft.com/Company/AboutDynamsoft.aspx">Company</a></li>
            </ul>
        </div>
    </div>
    
    <!--sm-header-->
    <div id="smHeader" class="visible-sm">
        <div id="smMenu">
            <div class="container"> <a class="ds-logo" href="https://www.dynamsoft.com"> </a>
                <div class="smMenuToggle">
                    <div class="bars"><span></span> <span></span> <span></span> </div>
                    <span class="textMenu">MENU</span> </div>
            </div>
        </div>
    </div>
    
    <!--md&lg- header -->
    <div id="mdHeader" class="visible-md visible-lg">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <a class="ds-logo" href="https://www.dynamsoft.com"></a>
                    <ul id="mdMenu" class="clearfix">
                        <li class="products"><a class="mdMenuToggle" href="javascript:void(0);">Products <i class="fa fa-caret-down" aria-hidden="true"></i></a></li>
                        <li><a href="https://www.dynamsoft.com/Downloads/Downloads.aspx">Download</a></li>
                        <li><a href="https://www.dynamsoft.com/Support/How-to-purchase-Dynamsoft-products.aspx">Buy</a></li>
                        <li><a href="https://www.dynamsoft.com/Support/Support.aspx">Support</a></li>
                        <li><a href="https://www.dynamsoft.com/Company/AboutDynamsoft.aspx">Company</a></li>
                    </ul>
                    <div id="cp-header">
                      <ul id="action-nav">
                        <li class="action-tel"><a href="https://www.dynamsoft.com/Company/Contact.aspx">1-604-605-5491</a></li>
                      </ul>
                  </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--subMenu-->
<div id="subMenu" class="clearfix hidden-xs">
    <ul id="smNav" class="clearfix visible-sm">
        <li><a href="javascript:void(0)">Products <i class="fa fa-caret-down" aria-hidden="true"></i></a></li>
        <li><a href="https://www.dynamsoft.com/Support/How-to-purchase-Dynamsoft-products.aspx">Pricing</a></li>
        <li><a href="https://www.dynamsoft.com/Downloads/Downloads.aspx">Download</a></li>
        <li><a href="https://www.dynamsoft.com/Support/Support.aspx">Support</a></li>
        <li><a href="https://www.dynamsoft.com/Company/AboutDynamsoft.aspx">Company</a></li>
    </ul>
    <div class="subMenuContent">
        <div class="row proPanel">
            <div class="col-xs-12 col-md-4 pro">
                <a href="https://www.dynamsoft.com/Products/WebTWAIN_Overview.aspx"><i class="logo"><img class="img-responsive" src="{{ site.dwt_icon }}" alt="Dynamic Web TWAIN"/></i>Dynamic Web TWAIN</a>
                <p class="intro">Cross-browser document scanning SDK for web application;</p>
                <p class="intro">Supports browsers on Windows, Linux and macOS</p>
            </div>
            <div class="col-xs-12 col-md-4 pro">
                <a href="https://www.dynamsoft.com/Products/.Net-TWAIN-Scanner.aspx"><i class="logo"><img class="img-responsive" src="{{ site.dnt_icon }}" alt="Dynamic .NET TWAIN"/></i>Dynamic .NET TWAIN</a>
                <p class="intro">Document scanning SDK for .NET desktop applications</p>
            </div>
            <div class="col-xs-12 col-md-4 pro">
                <a href="https://www.dynamsoft.com/Products/Dynamic-Barcode-Reader.aspx"><i class="logo"><img class="img-responsive" src="{{ site.dbr_icon }}" alt="Dynamsoft Barcode Reader"/></i>Dynamsoft Barcode Reader</a>
                <p class="intro"><a class="bluelink" href="https://www.dynamsoft.com/Products/barcode-cpp-api-for-windows.aspx">Windows</a> and <a class="bluelink" href="https://www.dynamsoft.com/Products/barcode-reader-c-api-linux.aspx">Linux</a> editions</p>
                <p class="intro"><a class="bluelink" href="https://www.dynamsoft.com/Products/barcode-scanner-sdk-ios.aspx">iOS</a> and <a class="bluelink" href="https://www.dynamsoft.com/Products/barcode-scanner-sdk-android.aspx">Android</a> editions</p>
                <p class="intro"><a class="bluelink" href="https://www.dynamsoft.com/Products/barcode-recognition-javascript.aspx">JavaScript</a> editions for web</p>
            </div>
        </div>
        <div class="ct-bt"><a class="bluelink" href="https://www.dynamsoft.com/Products/Products.aspx">View All Products &rsaquo;</a></div>
    </div>
</div>
