<li><a href="{{ site.parameters }}structure-and-interfaces-of-parameters.html" class="otherLinkColour">Parameter Organization</a>
    <ul>
        <li><a href="{{ site.dcv_parameters }}file/capture-vision-template.html" class="otherLinkColour">CaptureVisionTemplate Object</a></li>
        <li><a href="{{ site.dcv_parameters }}file/image-source.html" class="otherLinkColour">ImageSource Object</a></li>
        <li><a href="{{ site.dcv_parameters }}file/target-roi-definition/index.html" class="otherLinkColour">TargetROIDef Object</a>
        </li>
        <li><a href="{{ site.dcv_parameters }}file/task-settings/barcode-reader-task-settings.html" class="otherLinkColour">Label Recognition Task Settings</a></li>
        <li><a href="{{ site.dcv_parameters }}file/image-parameter.html" class="otherLinkColour">Image Parameter Object</a></li>
        <li><a href="{{ site.dcv_parameters }}file/auxiliary/global-parameter.html" class="otherLinkColour">Global Parameter</a></li>
    </ul>
</li>