<li>
    <a href="{{ site.faq_general }}index.html" class="otherLinkColour">FAQ</a>
    <ul>

        <li>
            <a href="{{ site.faq_general }}general.html">General</a>
        </li>
        <li>
            <a href="{{ site.faq_general }}licensing-and-usage.html">Licensing & Usag</a>
        </li>
        <li>
            <a href="{{ site.faq_general }}configuration.html">Configuration</a>

        </li>
        <li>
            <a href="{{ site.faq_general }}multi-platform.html">Multi Platform</a>
        </li>

        <li>
            <a href="{{ site.faq_general }}error-and-debug.html">Error & Debug</a>
        </li>
    </ul>
</li>