<li><a href="{{ site.dcvb_architecture }}" class="otherLinkColour">Architecture</a>
    <ul>
        <li><a href="{{ site.dcvb_architecture }}input.html" class="otherLinkColour">Input</a></li>
        <li><a href="{{ site.dcvb_architecture }}image-processing/index.html" class="otherLinkColour">Image Processing</a>
            <ul>
                <li><a href="{{ site.dcvb_architecture }}image-processing/region-predetection.html" class="otherLinkColour">Region Pre-detection</a></li>
                <li><a href="{{ site.dcvb_architecture }}image-processing/shared-detection.html" class="otherLinkColour">Shared Detection</a></li>
                <li><a href="{{ site.dcvb_architecture }}image-processing/barcode-localization.html" class="otherLinkColour">Barcode Localization</a></li>
                <li><a href="{{ site.dcvb_architecture }}image-processing/barcode-decoding.html" class="otherLinkColour">Barcode Decoding</a></li>
            </ul>
        </li>
        <li><a href="{{ site.dcvb_architecture }}semantic-processing.html" class="otherLinkColour">Semantic Processing</a></li>
        <li><a href="{{ site.dcvb_architecture }}output.html" class="otherLinkColour">Output</a></li>
    </ul>
</li>
