<li>
    <a href="{{ site.faq_general }}index.html" class="otherLinkColour">FAQ</a>
    <ul>
        <li>
            <a href="{{ site.faq_general }}what-is-dbr.html">What is Dynamsoft Barcode Reader SDK and what business needs can it meet?</a>
        </li>
        <li>
            <a href="{{ site.faq_general }}supported-barcode-formats.html">What barcode types are supported by Dynamsoft Barcode Reader?</a>
        </li>
        <li>
            <a href="{{ site.faq_general }}different-editions-of-dbr.html">There are many editions of DBR, what are the differences? Which one should I use?</a>
        </li>
        <li>
            <a href="{{ site.faq_general }}dbr-free-trial.html">How to get a free trial of the SDK? How many days does the free trial allow? Can I extend my trial if I need more time? If so, how?</a>
        </li>
        <li>
            <a href="{{ site.faq_general }}non-english-characters.html">Why the barcode image is returning messy (non-english)characters on the online demo?</a>
        </li>
        <li>
            <a href="{{ site.faq_general }}dbr-supports-pdf.html">Does the SDK support reading barcodes from PDF files? Is an additional license required for this functionality?</a>
        </li>
        <li>
            <a href="{{ site.faq_general }}scan-specific-page.html">The pdf file has 10 pages but only the last page has a barcode. Is it possible to decode the last page only?</a>
        </li>
        <li>
            <a href="{{ site.faq_general }}avoid-incorrect-results.html">Sometimes the barcode reader SDK returns incorrect results with four or less characters. How to avoid it?</a>
        </li>
        <li>
            <a href="{{ site.faq_general }}scan-us-drivers-license.html">How to scan barcodes on US Driver's Licenses and get the first name, last name, BOD, etc?</a>
        </li>
        <li>
            <a href="{{ site.faq_general }}how-to-enable-dpm.html">How to enable DPM?</a>
        </li>
        <li>
            <a href="{{ site.faq_general }}expand-quota-for-runtime-license.html">How to expand the quota of a runtime license?</a>
        </li>
        <li>
            <a href="{{ site.faq_general }}track-license.html">How to track the number of devices?</a>
        </li>
        <li>
            <a href="{{ site.faq_general }}sdk-works-without-internet.html">Can the SDK work without internet connection?</a>
        </li>
        <li>
            <a href="{{ site.faq_general }}what-happens-if-license-expires.html">After one year the annual license expires and I don't renew it in time, what will happen?</a>
        </li>
        <li>
            <a href="{{ site.faq_general }}how-hardware-is-bind-to-license.html">What information is collected while registering and licensing a device and how is it bound to the hardware? What hardware change would cause the consumption of a new license seat?</a>
        </li>
        <li>
            <a href="{{ site.faq_general }}ensure-no-overuse.html">How to ensure that a device does not overuse its allotted number of instances?</a>
        </li>
        <li>
            <a href="{{ site.faq_general }}competitors-comparison.html">How does your SDK compare to other commercial SDKs?</a>
        </li>
        <!--
        <li>
            <a href="{{ site.faq_general }}gs1-result-output.html">How to Remove Unreadable Charactors Like "\u{1D}" or "{GS}" from the Barcode Text of GS1 Code 128 and GS1 DataMatrix?</a>
        </li>-->
    </ul>
</li>