<li><a href="{{ site.dcvb_architecture }}" class="otherLinkColour">Architecture</a>
    <ul>
        <li><a href="{{ site.dcvb_architecture }}input.html" class="otherLinkColour">Input</a></li>
        <li><a href="{{ site.dcvb_architecture }}image-processing/index.html" class="otherLinkColour">Image Processing</a></li>
        <li><a href="{{ site.dcvb_architecture }}semantic-processing.html" class="otherLinkColour">Semantic Processing</a></li>
        <li><a href="{{ site.dcvb_architecture }}output.html" class="otherLinkColour">Output</a></li>
    </ul>
</li>
