<li><a href="{{ site.performance }}" class="otherLinkColour">Performance</a>
    <ul>
        <li><a href="{{ site.performance }}accuracy.html" class="otherLinkColour">Accuracy</a></li>
        <li><a href="{{ site.performance }}read-rate.html" class="otherLinkColour">Read Rate</a></li>
        <li><a href="{{ site.performance }}speed.html" class="otherLinkColour">Speed</a></li>
        {%- include liquid_searchVersionTreeFile.html ver=include.ver curPath=include.curPath targetRelativePath="introduction-comparison-tools.html" -%}
    </ul>
</li>