<li><a href="{{ site.release_notes }}index.html" class="otherLinkColour">Release Notes</a>
    <ul>
        <li><a href="{{ site.release_notes }}dbr-rn-11.html" class="otherLinkColour">Version 11.x</a></li>
        <li><a href="{{ site.release_notes }}dbr-rn-10.html" class="otherLinkColour">Version 10.x</a></li>
        <li><a href="{{ site.release_notes }}dbr-rn-9.html" class="otherLinkColour">Version 9.x</a></li>
        <li><a href="{{ site.release_notes }}dbr-rn-8.html" class="otherLinkColour">Version 8.x</a></li>
        <li><a href="{{ site.release_notes }}dbr-rn-7-.html" class="otherLinkColour">Version 1 ~ 7</a></li>
    </ul>
</li>