<li class="category">DEVELOPMENT</li>
<li>
    <a target="_blank" href="{{ site.js }}?ver=9.6.32" class="otherLinkColour refreshLink">Web (Client Side)</a></li>
<li>
    <a class="otherLinkColour">Mobile</a>
    <ul>
        <li><a target="_blank" href="{{ site.android }}" class="otherLinkColour refreshLink">Android</a></li>
        <li><a target="_blank" href="{{ site.oc }}" class="otherLinkColour refreshLink">iOS</a></li>
        <li><a target="_blank" href="{{ site.react_native }}" class="otherLinkColour refreshLink">React Native</a></li>
        <li><a target="_blank" href="{{ site.flutter }}" class="otherLinkColour refreshLink">Flutter</a></li>
        <li><a target="_blank" href="{{ site.xamarin }}" class="otherLinkColour refreshLink">Xamarin.Forms</a></li>
        <li><a target="_blank" href="{{ site.cordova }}" class="otherLinkColour refreshLink">Cordova</a></li>
    </ul>
</li>
<li>
    <a class="otherLinkColour">Server / Desktop</a>
    <ul>
        <li><a target="_blank" href="{{ site.python }}?ver=9.6.30" class="otherLinkColour refreshLink">Python</a></li>
        <li><a target="_blank" href="{{ site.java }}?ver=9.6.30" class="otherLinkColour refreshLink">Java</a></li>
        <li><a target="_blank" href="{{ site.dotnet }}?ver=9.6.30" class="otherLinkColour refreshLink">.NET</a></li>
        <li><a target="_blank" href="{{ site.cpp }}" class="otherLinkColour refreshLink">C++</a></li>
        <li><a target="_blank" href="{{ site.c }}?ver=9.6.30" class="otherLinkColour refreshLink">C</a></li>
    </ul>
</li>