<li>
    <a href="{{ site.introduction }}" class="otherLinkColour">Introduction</a>
    <ul>
        {%- if page.url contains '/introduction/' or page.url contains '/introduction-v' -%}
        <li><a href="{{ site.introduction }}overview.html" class="otherLinkColour">Overview</a></li>
        <li><a href="{{ site.introduction }}architecture.html" class="otherLinkColour">Architecture</a></li>
        {%- include sidelist-introduction/introduction-how-to-guides.html -%}
        {%- include sidelist-introduction/introduction-comparison-tools.html -%}
        {%- comment -%}
        <li class="unavailableLink">Security Features</li>
        {%- endcomment -%}
        {%- endif -%}
    </ul>
</li>
