<li><a href="{{ site.programming }}" class="otherLinkColour">Programming</a>
    <ul>
        {%- if page.url contains '/programming/' or page.url contains '/programming-v' -%}
        {%- include sidelist-programming/programming-javascript.html -%}
        {%- include sidelist-programming/programming-c.html -%}
        {%- include sidelist-programming/programming-cpp.html -%}
        {%- include sidelist-programming/programming-dotnet.html -%}
        {%- include sidelist-programming/programming-python.html -%}
        {%- include sidelist-programming/programming-java.html -%}
        {%- include sidelist-programming/programming-android.html -%}
        {%- include sidelist-programming/programming-oc.html -%}                         
        {%- endif -%}
    </ul>
</li>
