<li><a href="{{ site.license_activation }}" class="otherLinkColour">License</a>
    <ul>
        <li><a href="{{ site.license_activation }}set-trial-license.html" class="otherLinkColour">Set Trial License</a></li>
        <li><a href="{{ site.license_activation }}set-full-license.html" class="otherLinkColour">Set Full License in version 9</a></li>
        <li><a href="{{ site.license_activation }}set-full-license-8.html" class="otherLinkColour">Set Full License in version 8</a></li>
        <li><a href="{{ site.license_activation }}set-full-license-7.html" class="otherLinkColour">Set Full License in version 7</a></li>
    </ul>
</li>