<li><a href="{{ site.parameters }}" class="otherLinkColour">Parameters</a>
    <ul>
        {%- include liquid_searchVersionTreeFile.html ver=include.ver curPath=include.curPath targetRelativePath="sidelist-parameters/parameters-references.html" -%}
        {%- include liquid_searchVersionTreeFile.html ver=include.ver curPath=include.curPath targetRelativePath="sidelist-parameters/parameters-template-structure.html" -%}
        {%- include liquid_searchVersionTreeFile.html ver=include.ver curPath=include.curPath targetRelativePath="sidelist-parameters/parameters-enumerations.html" -%}
        {%- include liquid_searchVersionTreeFile.html ver=include.ver curPath=include.curPath targetRelativePath="sidelist-parameters/parameters-scenario-settings.html" -%}
        {%- comment -%}
        <li class="unavailableLink">Example Image Settings</li>
        {%- endcomment -%}
    </ul>
</li>