<li>
    <a href="{{ site.faq_general }}index.html" class="otherLinkColour">FAQ</a>
    <ul>
        <li>
            <a href="{{ site.faq_general }}what-is-dbr.html">What business needs can Dynamsoft Barcode Reader meet?</a>
        </li>
        <li>
            <a href="{{ site.faq_general }}supported-barcode-formats.html">What barcode types are supported by Dynamsoft Barcode Reader?</a>
        </li>
        <li>
            <a href="{{ site.faq_general }}different-editions-of-dbr.html">Which edition of Barcode Reader should I use?</a>
        </li>
        <li>
            <a href="{{ site.faq_general }}dbr-free-trial.html">What I need to know about trial licenses?</a>
        </li>
        <li>
            <a href="{{ site.faq_general }}non-english-characters.html">What I can do when barcode image returnes messy (non-english) characters?</a>
        </li>
        <li>
            <a href="{{ site.faq_general }}dbr-supports-pdf.html">Can Barcode Reader SDK read PDF files? Do I need to pay for this feature?</a>
        </li>
        <li>
            <a href="{{ site.faq_general }}scan-specific-page.html">How to scan specific pages of a pdf file?</a>
        </li>
        <li>
            <a href="{{ site.faq_general }}avoid-incorrect-results.html">How to filter incorrect results with the barcode result length?</a>
        </li>
        <li>
            <a href="{{ site.faq_general }}scan-us-drivers-license.html">How to scan barcodes on US Driver's Licenses and extract the information?</a>
        </li>
        <li>
            <a href="{{ site.faq_general }}how-to-enable-dpm.html">How to enable DPM?</a>
        </li>
        <li>
            <a href="{{ site.faq_general }}expand-quota-for-runtime-license.html">How to expand the quota of a runtime license?</a>
        </li>
        <li>
            <a href="{{ site.faq_general }}track-license.html">How to track the number of devices?</a>
        </li>
        <li>
            <a href="{{ site.faq_general }}sdk-works-without-internet.html">Can the SDK work without internet connection?</a>
        </li>
        <li>
            <a href="{{ site.faq_general }}what-happens-if-license-expires.html">What will happen if licenses are not renewed in time?</a>
        </li>
        <li>
            <a href="{{ site.faq_general }}how-hardware-is-bind-to-license.html">What I need to know about licensing process?</a>
        </li>
        <li>
            <a href="{{ site.faq_general }}ensure-no-overuse.html">How to properly use concurrent instance license?</a>
        </li>
        <li>
            <a href="{{ site.faq_general }}competitors-comparison.html">How does your SDK compare to other commercial SDKs?</a>
        </li>
        <li>
            <a href="{{ site.faq_general }}unprintable-character.html">How to Handle Non-printable Characters Like "\u{1D}" or "{GS}" from the Barcode Text?</a>
        </li>
        <li>
            <a href="{{ site.faq_general }}custom-settings-template.html">How to create custom settings template?</a>
        </li>
        <li>
            <a href="{{ site.faq_general }}sort-barcodes-image.html">How can I sort the barcodes of my image in reading order?</a>
        </li>
    </ul>
</li>