<li class="category">DEVELOPMENT</li>
<li>
    <a target="_blank" href="{{ site.js }}" class="otherLinkColour refreshLink">Web (Client Side)</a></li>
<li>
    <a class="otherLinkColour">Mobile</a>
    <ul>
        <li><a target="_blank" href="{{ site.android }}" class="otherLinkColour refreshLink">Android</a></li>
        <li><a target="_blank" href="{{ site.oc }}" class="otherLinkColour refreshLink">iOS</a></li>
    </ul>
</li>
<li>
    <a class="otherLinkColour">Server / Desktop</a>
    <ul>
        <li><a target="_blank" href="{{ site.python }}" class="otherLinkColour refreshLink">Python</a></li>
        <li><a target="_blank" href="{{ site.java }}" class="otherLinkColour refreshLink">Java</a></li>
        <li><a target="_blank" href="{{ site.dotnet }}" class="otherLinkColour refreshLink">C#</a></li>
        <li><a target="_blank" href="{{ site.cpp }}" class="otherLinkColour refreshLink">C++</a></li>
        <li><a target="_blank" href="{{ site.c }}" class="otherLinkColour refreshLink">C</a></li>
    </ul>
</li>