<li class="category">UNDERSTANDING DBR</li>
{%- include liquid_searchVersionTreeFile.html ver=include.ver curPath=include.curPath targetRelativePath="sidelist-architecture.html" -%}
{%- include liquid_searchVersionTreeFile.html ver=include.ver curPath=include.curPath targetRelativePath="sidelist-performance.html" -%}
{%- include liquid_searchVersionTreeFile.html ver=include.ver curPath=include.curPath targetRelativePath="sidelist-parameters-organization.html" -%}
<li><a href="{{ site.parameters_reference }}index.html" class="otherLinkColour">Parameter Reference</a>
        <ul>
                {%- include liquid_searchVersionTreeFile.html ver=include.ver curPath=include.curPath
                targetRelativePath="sidelist-parameter-reference.html" -%}
        </ul>
</li>
