<li><a>Performance</a>
    <ul>
        <li><a href="{{ site.performance }}accuracy.html" class="otherLinkColour">Accuracy</a></li>
        <li><a href="{{ site.performance }}read-rate.html" class="otherLinkColour">Read Rate</a></li>
        <li><a href="{{ site.performance }}speed.html" class="otherLinkColour">Speed</a></li>
        {%- comment -%}
        <li><a href="{{ site.performance }}flexibility-extensibility.html" class="otherLinkColour">Flexibility-Extensibility</a></li>
        {%- endcomment -%}
    </ul>
</li>