<li><a href="{{ site.c }}" class="otherLinkColour">C</a>
    <ul>
        <li><a href="{{ site.c }}user-guide.html" class="otherLinkColour">User Guide</a></li>
        <li><a href="{{ site.c_methods }}" class="otherLinkColour">API Reference</a>
            <ul>
                <li><span class="unavailableLink">Methods</span>
                    <ul>
                        <li><a href="{{ site.c_methods }}initialize-and-destroy.html#dbr_createinstance" class="otherLinkColour">DBR_CreateInstance</a></li>
                        <li><a href="{{ site.c_methods }}initialize-and-destroy.html#dbr_destroyinstance" class="otherLinkColour">DBR_DestroyInstance</a></li>
                        <li><a href="{{ site.c_methods }}video.html#dbr_appendframe" class="otherLinkColour">DBR_AppendFrame</a></li>
                        <li><a href="{{ site.c_methods }}parameter-and-runtime-settings-advanced.html#dbr_appendtplfiletoruntimesettings" class="otherLinkColour">DBR_AppendTplFileToRuntimeSettings</a></li>
                        <li><a href="{{ site.c_methods }}parameter-and-runtime-settings-advanced.html#dbr_appendtplstringtoruntimesettings" class="otherLinkColour">DBR_AppendTplStringToRuntimeSettings</a></li>
                        <li><a href="{{ site.c_methods }}decode.html#dbr_decodebase64string" class="otherLinkColour">DBR_DecodeBase64String</a></li>
                        <li><a href="{{ site.c_methods }}decode.html#dbr_decodebuffer" class="otherLinkColour">DBR_DecodeBuffer</a></li>
                        <li><a href="{{ site.c_methods }}decode.html#dbr_decodedib" class="otherLinkColour">DBR_DecodeDIB</a></li>
                        <li><a href="{{ site.c_methods }}decode.html#dbr_decodefile" class="otherLinkColour">DBR_DecodeFile</a></li>
                        <li><a href="{{ site.c_methods }}decode.html#dbr_decodefileinmemory" class="otherLinkColour">DBR_DecodeFileInMemory</a></li>
                        <li><a href="{{ site.c_methods }}result.html#dbr_freeintermediateresults" class="otherLinkColour">DBR_FreeIntermediateResults</a></li>
                        <li><a href="{{ site.c_methods }}license.html#dbr_freelicensestring" class="otherLinkColour">DBR_FreeLicenseString</a></li>
                        <li><a href="{{ site.c_methods }}parameter-and-runtime-settings-advanced.html#dbr_freesettingsstring" class="otherLinkColour">DBR_FreeSettingsString</a></li>
                        <li><a href="{{ site.c_methods }}result.html#dbr_freetextresults" class="otherLinkColour">DBR_FreeTextResults</a></li>
                        <li><a href="{{ site.c_methods }}result.html#dbr_getalltextresults" class="otherLinkColour">DBR_GetAllTextResults</a></li>
                        <li><a href="{{ site.c_methods }}status-retrieval.html#dbr_geterrorstring" class="otherLinkColour">DBR_GetErrorString</a></li>
                        <li><a href="{{ site.c_methods }}result.html#dbr_getintermediateresults" class="otherLinkColour">DBR_GetIntermediateResults</a></li>
                        <li><a href="{{ site.c_methods }}video.html#dbr_getlengthofframequeue" class="otherLinkColour">DBR_GetLengthOfFrameQueue</a></li>
                        <li><a href="{{ site.c_methods }}parameter-and-runtime-settings-basic.html#dbr_getmodeargument" class="otherLinkColour">DBR_GetModeArgument</a></li>
                        <li><a href="{{ site.c_methods }}parameter-and-runtime-settings-advanced.html#dbr_getparametertemplatecount" class="otherLinkColour">DBR_GetParameterTemplateCount</a></li>
                        <li><a href="{{ site.c_methods }}parameter-and-runtime-settings-advanced.html#dbr_getparametertemplatename" class="otherLinkColour">DBR_GetParameterTemplateName</a></li>
                        <li><a href="{{ site.c_methods }}parameter-and-runtime-settings-basic.html#dbr_getruntimesettings" class="otherLinkColour">DBR_GetRuntimeSettings</a></li>
                        <li><a href="{{ site.c_methods }}status-retrieval.html#dbr_getversion" class="otherLinkColour">DBR_GetVersion</a></li>
                        <li><a href="{{ site.c_methods }}video.html#dbr_initframedecodingparameters" class="otherLinkColour">DBR_InitFrameDecodingParameters</a></li>
                        <li><a href="{{ site.c_methods }}license.html#dbr_initlicense" class="otherLinkColour">DBR_InitLicense</a></li>
                        <li><a href="{{ site.c_methods }}license.html#dbr_initlicensefromlicensecontent" class="otherLinkColour">DBR_InitLicenseFromLicenseContent</a></li>
                        <li><a href="{{ site.c_methods }}license.html#dbr_initlicensefromserver" class="otherLinkColour">DBR_InitLicenseFromServer</a></li>
                        <li><a href="{{ site.c_methods }}parameter-and-runtime-settings-advanced.html#dbr_initruntimesettingswithfile" class="otherLinkColour">DBR_InitRuntimeSettingsWithFile</a></li>
                        <li><a href="{{ site.c_methods }}parameter-and-runtime-settings-advanced.html#dbr_initruntimesettingswithstring" class="otherLinkColour">DBR_InitRuntimeSettingsWithString</a></li>
                        <li><a href="{{ site.c_methods }}license.html#dbr_outputlicensetostring" class="otherLinkColour">DBR_OutputLicenseToString</a></li>
                        <li><a href="{{ site.c_methods }}license.html#dbr_outputlicensetostringptr" class="otherLinkColour">DBR_OutputLicenseToStringPtr</a></li>
                        <li><a href="{{ site.c_methods }}parameter-and-runtime-settings-advanced.html#dbr_outputsettingstofile" class="otherLinkColour">DBR_OutputSettingsToFile</a></li>
                        <li><a href="{{ site.c_methods }}parameter-and-runtime-settings-advanced.html#dbr_outputsettingstostring" class="otherLinkColour">DBR_OutputSettingsToString</a></li>
                        <li><a href="{{ site.c_methods }}parameter-and-runtime-settings-advanced.html#dbr_outputsettingstostringptr" class="otherLinkColour">DBR_OutputSettingsToStringPtr</a></li>
                        <li><a href="{{ site.c_methods }}parameter-and-runtime-settings-basic.html#dbr_resetruntimesettings" class="otherLinkColour">DBR_ResetRuntimeSettings</a></li>
                        <li><a href="{{ site.c_methods }}video.html#dbr_seterrorcallback" class="otherLinkColour">DBR_SetErrorCallback</a></li>
                        <li><a href="{{ site.c_methods }}video.html#dbr_setintermediateresultcallback" class="otherLinkColour">DBR_SetIntermediateResultCallback</a></li>
                        <li><a href="{{ site.c_methods }}parameter-and-runtime-settings-basic.html#dbr_setmodeargument" class="otherLinkColour">DBR_SetModeArgument</a></li>
                        <li><a href="{{ site.c_methods }}video.html#dbr_settextresultcallback" class="otherLinkColour">DBR_SetTextResultCallback</a></li>
                        <li><a href="{{ site.c_methods }}video.html#dbr_startframedecoding" class="otherLinkColour">DBR_StartFrameDecoding</a></li>
                        <li><a href="{{ site.c_methods }}video.html#dbr_startframedecodingex" class="otherLinkColour">DBR_StartFrameDecodingEx</a></li>
                        <li><a href="{{ site.c_methods }}video.html#dbr_stopframedecoding" class="otherLinkColour">DBR_StopFrameDecoding</a></li>
                        <li><a href="{{ site.c_methods }}parameter-and-runtime-settings-basic.html#dbr_updateruntimesettings" class="otherLinkColour">DBR_UpdateRuntimeSettings</a></li>
                    </ul>
                </li>
                <li><a href="{{ site.structs }}" class="otherLinkColour">Struct</a>
                    <ul>
                        <li><a href="{{ site.structs }}AztecDetails.html" class="otherLinkColour">AztecDetails</a></li>
                        <li><a href="{{ site.structs }}Contour.html" class="otherLinkColour">Contour</a></li>
                        <li><a href="{{ site.structs }}DBRPoint.html" class="otherLinkColour">DBRPoint</a></li>
                        <li><a href="{{ site.structs }}DataMatrixDetails.html" class="otherLinkColour">DataMatrixDetails</a></li>
                        <li><a href="{{ site.structs }}ExtendedResult.html" class="otherLinkColour">ExtendedResult</code></a></li>
                        <li><a href="{{ site.structs }}FrameDecodingParameters.html" class="otherLinkColour">FrameDecodingParameters</a></li>
                        <li><a href="{{ site.structs }}FurtherModes.html" class="otherLinkColour">FurtherModes</code></a></li>
                        <li><a href="{{ site.structs }}ImageData.html" class="otherLinkColour">ImageData</code></a></li>
                        <li><a href="{{ site.structs }}IntermediateResult.html" class="otherLinkColour">IntermediateResult</a></li>
                        <li><a href="{{ site.structs }}IntermediateResultArray.html" class="otherLinkColour">IntermediateResultArray</a></li>
                        <li><a href="{{ site.structs }}LineSegment.html" class="otherLinkColour">LineSegment</a></li>
                        <li><a href="{{ site.structs }}LocalizationResult.html" class="otherLinkColour">LocalizationResult</a></li>
                        <li><a href="{{ site.structs }}OneDCodeDetails.html" class="otherLinkColour">OneDCodeDetails</a></li>
                        <li><a href="{{ site.structs }}PDF417Details.html" class="otherLinkColour">PDF417Details</a></li>
                        <li><a href="{{ site.structs }}PublicRuntimeSettings.html" class="otherLinkColour">PublicRuntimeSettings</a></li>
                        <li><a href="{{ site.structs }}QRCodeDetails.html" class="otherLinkColour">QRCodeDetails</a></li>
                        <li><a href="{{ site.structs }}Quadrilateral.html" class="otherLinkColour">Quadrilateral</a></li>
                        <li><a href="{{ site.structs }}RegionDefinition.html" class="otherLinkColour">RegionDefinition</a></li>
                        <li><a href="{{ site.structs }}RegionOfInterest.html" class="otherLinkColour">RegionOfInterest</a></li>
                        <li><a href="{{ site.structs }}SamplingImageData.html" class="otherLinkColour">SamplingImageData</a></li>
                        <li><a href="{{ site.structs }}TextResult.html" class="otherLinkColour">TextResult</a></li>
                        <li><a href="{{ site.structs }}TextResultArray.html" class="otherLinkColour">TextResultArray</a></li>
                    </ul>
                </li>
            </ul>
        </li>
    </ul>
</li>