<li><a href="{{ site.js }}" class="otherLinkColour">JavaScript</a>
    <ul>
        {%- if page.url contains '/javascript/' or page.url contains '/javascript-v' -%}
        <li><a href="{{ site.js }}user-guide/" class="otherLinkColour">User Guide</a>
            {%- if page.url contains '-v8.2.3' or page.url contains '-v7.6' -%}
            <ul>
                <li><a href="{{ site.js }}user-guide/#getting-started---hello-world" class="otherLinkColour">Getting Started</a></li>
                <li><a href="{{ site.js }}user-guide/basic-customizations.html" class="otherLinkColour">Basic Customizations</a></li>
                <li><a href="{{ site.js }}user-guide/advanced-customizations.html" class="otherLinkColour">Advanced Customizations</a></li>
                <li><a href="{{ site.js }}user-guide/deployment-activation.html" class="otherLinkColour">Deployment Activation</a></li>
                <li><a href="{{ site.js }}user-guide/features-requirements.html" class="otherLinkColour">Features Requirements</a></li>
                <li><a href="{{ site.js }}user-guide/upgrade.html" class="otherLinkColour">Upgrade</a></li>
            </ul>
            {%- else -%}
            <ul>
                <li><a href="{{ site.js }}user-guide/#getting-started---hello-world" class="otherLinkColour">Getting Started</a></li>
                <li><a href="{{ site.js }}user-guide/advanced-customizations.html" class="otherLinkColour">Advanced Usage</a></li>
                <li><a href="{{ site.js }}user-guide/upgrade.html" class="otherLinkColour">Upgrade</a></li>
            </ul>
            {%- endif -%}   
        </li>
        <li><a href="{{ site.js_api }}" class="otherLinkColour">API Reference</a>
            <ul>
                <li><a href="{{ site.js_api }}BarcodeReader.html" class="otherLinkColour">BarcodeReader</a></li>
                <li><a href="{{ site.js_api }}BarcodeScanner.html" class="otherLinkColour">BarcodeScanner</a></li>
                <li>interface
                    <ul>
                        <li><a href="{{ site.js_api }}LocalizationResult.html" class="otherLinkColour">LocalizationResult</a></li>
                        <li><a href="{{ site.js_api }}RegionDefinition.html" class="otherLinkColour">RegionDefinition</a></li>
                        <li><a href="{{ site.js_api }}RuntimeSettings.html" class="otherLinkColour">RuntimeSettings</a></li>
                        <li><a href="{{ site.js_api }}ScannerPlayCallbackInfo.html" class="otherLinkColour">ScannerPlayCallbackInfo</a></li>
                        <li><a href="{{ site.js_api }}ScanSettings.html" class="otherLinkColour">ScanSettings</a></li>
                        <li><a href="{{ site.js_api }}TextResult.html" class="otherLinkColour">TextResult</a></li>
                        <li><a href="{{ site.js_api }}VideoDeviceInfo.html" class="otherLinkColour">VideoDeviceInfo</a></li>
                    </ul>
                </li>
                <li>enum
                    <ul>
                        <li><a href="{{ site.js_api }}EnumBarcodeColourMode.html" class="otherLinkColour">EnumBarcodeColourMode</a></li>
                        <li><a href="{{ site.js_api }}EnumBarcodeComplementMode.html" class="otherLinkColour">EnumBarcodeComplementMode</a></li>
                        <li><a href="{{ site.js_api }}EnumBarcodeFormat_2.html" class="otherLinkColour">EnumBarcodeFormat_2</a></li>
                        <li><a href="{{ site.js_api }}EnumBarcodeFormat.html" class="otherLinkColour">EnumBarcodeFormat</a></li>
                        <li><a href="{{ site.js_api }}EnumBinarizationMode.html" class="otherLinkColour">EnumBinarizationMode</a></li>
                        <li><a href="{{ site.js_api }}EnumClarityCalculationMethod.html" class="otherLinkColour">EnumClarityCalculationMethod</a></li>
                        <li><a href="{{ site.js_api }}EnumClarityFilterMode.html" class="otherLinkColour">EnumClarityFilterMode</a></li>
                        <li><a href="{{ site.js_api }}EnumColourClusteringMode.html" class="otherLinkColour">EnumColourClusteringMode</a></li>
                        <li><a href="{{ site.js_api }}EnumColourConversionMode.html" class="otherLinkColour">EnumColourConversionMode</a></li>
                        <li><a href="{{ site.js_api }}EnumConflictMode.html" class="otherLinkColour">EnumConflictMode</a></li>
                        <li><a href="{{ site.js_api }}EnumDeblurMode.html" class="otherLinkColour">EnumDeblurMode</a></li>
                        <li><a href="{{ site.js_api }}EnumDeformationResistingMode.html" class="otherLinkColour">EnumDeformationResistingMode</a></li>
                        <li><a href="{{ site.js_api }}EnumDPMCodeReadingMode.html" class="otherLinkColour">EnumDPMCodeReadingMode</a></li>
                        <li><a href="{{ site.js_api }}EnumErrorCode.html" class="otherLinkColour">EnumErrorCode</a></li>
                        <li><a href="{{ site.js_api }}EnumGrayscaleTransformationMode.html" class="otherLinkColour">EnumGrayscaleTransformationMode</a></li>
                        <li><a href="{{ site.js_api }}EnumImagePixelFormat.html" class="otherLinkColour">EnumImagePixelFormat</a></li>
                        <li><a href="{{ site.js_api }}EnumImagePreprocessingMode.html" class="otherLinkColour">EnumImagePreprocessingMode</a></li>
                        <li><a href="{{ site.js_api }}EnumIMResultDataType.html" class="otherLinkColour">EnumIMResultDataType</a></li>
                        <li><a href="{{ site.js_api }}EnumIntermediateResultSavingMode.html" class="otherLinkColour">EnumIntermediateResultSavingMode</a></li>
                        <li><a href="{{ site.js_api }}EnumIntermediateResultType.html" class="otherLinkColour">EnumIntermediateResultType</a></li>
                        <li><a href="{{ site.js_api }}EnumLocalizationMode.html" class="otherLinkColour">EnumLocalizationMode</a></li>
                        <li><a href="{{ site.js_api }}EnumPDFReadingMode.html" class="otherLinkColour">EnumPDFReadingMode</a></li>
                        <li><a href="{{ site.js_api }}EnumQRCodeErrorCorrectionLevel.html" class="otherLinkColour">EnumQRCodeErrorCorrectionLevel</a></li>
                        <li><a href="{{ site.js_api }}EnumRegionPredetectionMode.html" class="otherLinkColour">EnumRegionPredetectionMode</a></li>
                        <li><a href="{{ site.js_api }}EnumResultCoordinateType.html" class="otherLinkColour">EnumResultCoordinateType</a></li>
                        <li><a href="{{ site.js_api }}EnumResultType.html" class="otherLinkColour">EnumResultType</a></li>
                        <li><a href="{{ site.js_api }}EnumScaleUpMode.html" class="otherLinkColour">EnumScaleUpMode</a></li>
                        <li><a href="{{ site.js_api }}EnumTerminatePhase.html" class="otherLinkColour">EnumTerminatePhase</a></li>
                        <li><a href="{{ site.js_api }}EnumTextFilterMode.html" class="otherLinkColour">EnumTextFilterMode</a></li>
                        <li><a href="{{ site.js_api }}EnumTextResultOrderMode.html" class="otherLinkColour">EnumTextResultOrderMode</a></li>
                        <li><a href="{{ site.js_api }}EnumTextureDetectionMode.html" class="EnumTextureDetectionMode">EnumBarcodeColourMode</a></li>
                    </ul>
                </li>
            </ul>
        </li>

        <li><a href="{{ site.js_release_notes }}" class="otherLinkColour">Release Notes</a>
            <ul>
                <li><a href="{{ site.js_release_notes }}js-8.html" class="otherLinkColour">Version 8.x</a></li>
                <li><a href="{{ site.js_release_notes }}js-7.html" class="otherLinkColour">Version 7.6 and below</a></li>
            </ul>
        </li>
        {%- endif -%}
    </ul>
</li>
