<li><a href="{{ site.cpp }}" class="otherLinkColour">C++</a>
    <ul>
        <li><a href="{{ site.cpp }}user-guide.html" class="otherLinkColour">User Guide</a></li>
        <li><a href="{{ site.cpp }}samples/index.html" class="otherLinkColour">Samples and Demo</a></li>
        <li><a href="{{ site.cpp_api }}" class="otherLinkColour">API Reference</a>
            <ul>
                <li><a href="{{ site.cpp_methods }}" class="otherLinkColour">CBarcodeReader Class</a>
                    <ul>
                            <li><a href="{{ site.cpp_methods }}constructor-and-destructor.html" class="otherLinkColour">Constructor and Destructor</a></li>
                            <li><a href="{{ site.cpp_methods }}license.html" class="otherLinkColour">License Methods</a></li>
                            <li><a href="{{ site.cpp_methods }}decode.html" class="otherLinkColour">Decode Methods</a></li>
                            <li><a href="{{ site.cpp_methods }}parameter-and-runtime-settings-basic.html" class="otherLinkColour">Basic Settings Methods</a></li>
                            <li><a href="{{ site.cpp_methods }}parameter-and-runtime-settings-advanced.html" class="otherLinkColour">Advanced Settings Methods</a></li>
                            <li><a href="{{ site.cpp_methods }}result.html" class="otherLinkColour">Result Methods</a></li>
                            <li><a href="{{ site.cpp_methods }}status-retrieval.html" class="otherLinkColour">Status Retrieval Methods</a></li>
                            <li><a href="{{ site.cpp_methods }}video.html" class="otherLinkColour">Video Methods</a></li>
                    </ul>
                </li>
                <li><a href="{{ site.structs }}?src=cpp" class="otherLinkColour">Structs</a>
                    <ul>
                        <li><a href="{{ site.structs }}AztecDetails.html?src=cpp" class="otherLinkColour">AztecDetails</a></li>
                        <li><a href="{{ site.structs }}Contour.html?src=cpp" class="otherLinkColour">Contour</a></li>
                        <li><a href="{{ site.structs }}DBRPoint.html?src=cpp" class="otherLinkColour">DBRPoint</a></li>
                        <li><a href="{{ site.structs }}DataMatrixDetails.html?src=cpp" class="otherLinkColour">DataMatrixDetails</a></li>
                        <li><a href="{{ site.structs }}DMDLSConnectionParameters.html?src=cpp" class="otherLinkColour">DM_DLSConnectionParameters</a></li>
                        <li><a href="{{ site.structs }}ExtendedResult.html?src=cpp" class="otherLinkColour">ExtendedResult</a></li>
                        <li><a href="{{ site.structs }}FrameDecodingParameters.html?src=cpp" class="otherLinkColour">FrameDecodingParameters</a></li>
                        <li><a href="{{ site.structs }}FurtherModes.html?src=cpp" class="otherLinkColour">FurtherModes</a></li>
                        <li><a href="{{ site.structs }}ImageData.html?src=cpp" class="otherLinkColour">ImageData</a></li>
                        <li><a href="{{ site.structs }}IntermediateResult.html?src=cpp" class="otherLinkColour">IntermediateResult</a></li>
                        <li><a href="{{ site.structs }}IntermediateResultArray.html?src=cpp" class="otherLinkColour">IntermediateResultArray</a></li>
                        <li><a href="{{ site.structs }}LineSegment.html?src=cpp" class="otherLinkColour">LineSegment</a></li>
                        <li><a href="{{ site.structs }}LocalizationResult.html?src=cpp" class="otherLinkColour">LocalizationResult</a></li>
                        <li><a href="{{ site.structs }}OneDCodeDetails.html?src=cpp" class="otherLinkColour">OneDCodeDetails</a></li>
                        <li><a href="{{ site.structs }}PDF417Details.html?src=cpp" class="otherLinkColour">PDF417Details</a></li>
                        <li><a href="{{ site.structs }}PublicRuntimeSettings.html?src=cpp" class="otherLinkColour">PublicRuntimeSettings</a></li>
                        <li><a href="{{ site.structs }}QRCodeDetails.html?src=cpp" class="otherLinkColour">QRCodeDetails</a></li>
                        <li><a href="{{ site.structs }}Quadrilateral.html?src=cpp" class="otherLinkColour">Quadrilateral</a></li>
                        <li><a href="{{ site.structs }}RegionDefinition.html?src=cpp" class="otherLinkColour">RegionDefinition</a></li>
                        <li><a href="{{ site.structs }}RegionOfInterest.html?src=cpp" class="otherLinkColour">RegionOfInterest</a></li>
                        <li><a href="{{ site.structs }}SamplingImageData.html?src=cpp" class="otherLinkColour">SamplingImageData</a></li>
                        <li><a href="{{ site.structs }}TextResult.html?src=cpp" class="otherLinkColour">TextResult</a></li>
                        <li><a href="{{ site.structs }}TextResultArray.html?src=cpp" class="otherLinkColour">TextResultArray</a></li>
                    </ul>
                </li>
                <li><a href="{{ site.enumerations }}?src=cpp" class="otherLinkColour">Enumerations</a></li>
                <li><a href="{{ site.cpp_api }}function-pointer.html" class="otherLinkColour">Callbacks</a></li>
            </ul>
        </li>

        <li><a href="{{ site.cpp_release_notes }}" class="otherLinkColour">Release Notes</a>
            <ul>
                <li><a href="{{ site.cpp_release_notes }}cpp-8.html" class="otherLinkColour">Version 8.x</a></li>
                <li><a href="{{ site.cpp_release_notes }}cpp-7.html" class="otherLinkColour">Version 7.6.0 and below</a></li>
            </ul>
        </li>
        <li><a href="{{ site.cpp }}upgrade-instruction.html" class="otherLinkColour">Upgrade Instructions</a></li>
    </ul>
</li>