<li><a href="{{ site.python }}" class="otherLinkColour">Python</a>
    <ul>
        <li><a href="{{ site.python }}user-guide.html" class="otherLinkColour">User Guide</a></li>
        <li><a href="{{ site.python_api }}" class="otherLinkColour">API Reference</a>
            <ul>
                <li><span class="unavailableLink">BarcodeReader Methods</span>
                    <ul>
                        <li><a href="{{ site.python_api }}BarcodeReader/constructor-and-destructor.html#barcodereader" class="otherLinkColour">BarcodeReader</a></li>
                        <li><a href="{{ site.python_api }}BarcodeReader/video.html#append_video_frame" class="otherLinkColour">append_video_frame</a></li>
                        <li><a href="{{ site.python_api }}BarcodeReader/parameter-and-runtime-settings-advanced.html#append_template_file_to_runtime_settings" class="otherLinkColour">append_template_file_to_runtime_settings</a></li>
                        <li><a href="{{ site.python_api }}BarcodeReader/parameter-and-runtime-settings-advanced.html#append_template_string_to_runtime_settings" class="otherLinkColour">append_template_string_to_runtime_settings</a></li>
                        <li><a href="{{ site.python_api }}BarcodeReader/decode.html#decode_buffer" class="otherLinkColour">decode_buffer</a></li> 
                        <li><a href="{{ site.python_api }}BarcodeReader/decode.html#decode_file" class="otherLinkColour">decode_file</a></li>
                        <li><a href="{{ site.python_api }}BarcodeReader/decode.html#decode_file_stream" class="otherLinkColour">decode_file_stream</a></li>
                        <li><a href="{{ site.python_api }}BarcodeReader/parameter-and-runtime-settings-advanced.html#get_all_template_names" class="otherLinkColour">get_all_template_names</a></li>
                        <li><a href="{{ site.python_api }}BarcodeReader/video.html#get_length_of_frame_queue" class="otherLinkColour">get_length_of_frame_queue</a></li>
                        <li><a href="{{ site.python_api }}BarcodeReader/parameter-and-runtime-settings-basic.html#get_mode_argument" class="otherLinkColour">get_mode_argument</a></li>
                        <li><a href="{{ site.python_api }}BarcodeReader/parameter-and-runtime-settings-basic.html#get_runtime_settings" class="otherLinkColour">get_runtime_settings</a></li>
                        <li><a href="{{ site.python_api }}BarcodeReader/video.html#init_frame_decoding_parameters" class="otherLinkColour">init_frame_decoding_parameters</a></li>
                        <li><a href="{{ site.python_api }}BarcodeReader/license.html#init_license" class="otherLinkColour">init_license</a></li>
                        <li><a href="{{ site.python_api }}BarcodeReader/license.html#init_license_from_license_content" class="otherLinkColour">init_license_from_license_content</a></li>
                        <li><a href="{{ site.python_api }}BarcodeReader/license.html#init_license_from_server" class="otherLinkColour">init_license_from_server</a></li>
                        <li><a href="{{ site.python_api }}BarcodeReader/parameter-and-runtime-settings-advanced.html#init_runtime_settings_with_file" class="otherLinkColour">init_runtime_settings_with_file</a></li>
                        <li><a href="{{ site.python_api }}BarcodeReader/parameter-and-runtime-settings-advanced.html#init_runtime_settings_with_string" class="otherLinkColour">init_runtime_settings_with_string</a></li>
                        <li><a href="{{ site.python_api }}BarcodeReader/license.html#output_license_to_string" class="otherLinkColour">output_license_to_string</a></li>
                        <li><a href="{{ site.python_api }}BarcodeReader/parameter-and-runtime-settings-advanced.html#output_settings_to_json_file" class="otherLinkColour">output_settings_to_json_file</a></li>
                        <li><a href="{{ site.python_api }}BarcodeReader/parameter-and-runtime-settings-advanced.html#output_settings_to_json_string" class="otherLinkColour">output_settings_to_json_string</a></li>
                        <li><a href="{{ site.python_api }}BarcodeReader/parameter-and-runtime-settings-basic.html#reset_runtime_settings" class="otherLinkColour">reset_runtime_settings</a></li>
                        <li><a href="{{ site.python_api }}BarcodeReader/parameter-and-runtime-settings-basic.html#set_mode_argument" class="otherLinkColour">set_mode_argument</a></li>
                        <li><a href="{{ site.python_api }}BarcodeReader/video.html#start_video_mode" class="otherLinkColour">start_video_mode</a></li>
                        <li><a href="{{ site.python_api }}BarcodeReader/video.html#stop_video_mode" class="otherLinkColour">stop_video_mode</a></li>
                        <li><a href="{{ site.python_api }}BarcodeReader/parameter-and-runtime-settings-basic.html#update_runtime_settings" class="otherLinkColour">update_runtime_settings</a></li>
                    </ul>
                </li>
                <li><span class="unavailableLink">Class</span>
                    <ul>
                        <li><a href="{{ site.python_api }}class/AztecDetailedResult.html" class="otherLinkColour">AztecDetailedResult</a></li>
                        <li><a href="{{ site.python_api }}class/BarcodeReaderError.html" class="otherLinkColour">BarcodeReaderError</a></li>
                        <li><a href="{{ site.python_api }}class/Contour.html" class="otherLinkColour">Contour</a></li>
                        <li><a href="{{ site.python_api }}class/DataMatrixDetailedResult.html" class="otherLinkColour">DataMatrixDetailedResult</a></li>
                        <li><a href="{{ site.python_api }}class/ExtendedResult.html" class="otherLinkColour">ExtendedResult</a></li>
                        <li><a href="{{ site.python_api }}class/FrameDecodingParameters.html" class="otherLinkColour">FrameDecodingParameters</a></li>
                        <li><a href="{{ site.python_api }}class/ImageData.html" class="otherLinkColour">ImageData</a></li>
                        <li><a href="{{ site.python_api }}class/IntermediateResult.html" class="otherLinkColour">IntermediateResult</a></li>
                        <li><a href="{{ site.python_api }}class/LineSegment.html" class="otherLinkColour">LineSegment</a></li>
                        <li><a href="{{ site.python_api }}class/LocalizationResult.html" class="otherLinkColour">LocalizationResult</a></li>
                        <li><a href="{{ site.python_api }}class/OnedDetailedResult.html" class="otherLinkColour">OnedDetailedResult</a></li>
                        <li><a href="{{ site.python_api }}class/PDFDetailedResult.html" class="otherLinkColour">PDFDetailedResult</a></li>
                        <li><a href="{{ site.python_api }}class/Point.html" class="otherLinkColour">Point</a></li>
                        <li><a href="{{ site.python_api }}class/PublicRuntimeSettings.html" class="otherLinkColour">PublicRuntimeSettings</a></li>
                        <li><a href="{{ site.python_api }}class/QRCodeDetailedResult.html" class="otherLinkColour">QRCodeDetailedResult</a></li>
                        <li><a href="{{ site.python_api }}class/Quadrilateral.html" class="otherLinkColour">Quadrilateral</a></li>
                        <li><a href="{{ site.python_api }}class/RegionOfInterest.html" class="otherLinkColour">RegionOfInterest</a></li>
                        <li><a href="{{ site.python_api }}class/SamplingImageData.html" class="otherLinkColour">SamplingImageData</a></li>
                        <li><a href="{{ site.python_api }}class/TextResult.html" class="otherLinkColour">TextResult</a></li>
                    </ul>
                </li>
            </ul>
        </li>
    </ul>
</li>