<li><a href="{{ site.js }}" class="otherLinkColour">JavaScript</a>
    <ul>
        <li><a href="{{ site.js }}user-guide/" class="otherLinkColour">User Guide</a>
            <ul>
                <li><a href="{{ site.js }}user-guide/#getting-started---hello-world" class="otherLinkColour">Getting Started</a></li>
                <li><a href="{{ site.js }}user-guide/basic-customizations.html" class="otherLinkColour">Basic Customizations</a></li>
                <li><a href="{{ site.js }}user-guide/advanced-customizations.html" class="otherLinkColour">Advanced Customizations</a></li>
                <li><a href="{{ site.js }}user-guide/deployment-activation.html" class="otherLinkColour">Deployment Activation</a></li>
                <li><a href="{{ site.js }}user-guide/features-requirements.html" class="otherLinkColour">Features Requirements</a></li>
                <li><a href="{{ site.js }}user-guide/upgrade.html" class="otherLinkColour">Upgrade</a></li>
            </ul>
        </li>
        <li><a href="{{ site.js_api }}" class="otherLinkColour">API Reference</a>
            <ul>
                <li><a href="{{ site.js_api }}BarcodeReader/" class="otherLinkColour">BarcodeReader</a>
                    <ul>
                        <li><a href="{{ site.js_api }}BarcodeReader/methods/" class="otherLinkColour">Methods</a>
                            <ul>
                                <li><a href="{{ site.js_api }}BarcodeReader/methods/initialize-and-destroy.html" class="otherLinkColour">Initialization and Destroy</a></li>
                                <li><a href="{{ site.js_api }}BarcodeReader/methods/decode.html" class="otherLinkColour">Decode Methods</a></li>
                                <li><a href="{{ site.js_api }}BarcodeReader/methods/results.html" class="otherLinkColour">Result Methods</a></li>
                                <li><a href="{{ site.js_api }}BarcodeReader/methods/parameter-and-runtime-settings.html" class="otherLinkColour">Parameter and Runtime Settings Methods</a></li>
                            </ul>
                        </li>
                        <li><a href="{{ site.js_api }}BarcodeReader/properties.html" class="otherLinkColour">Properties</a></li>
                        <li><a href="{{ site.js_api }}BarcodeReader/accessors.html" class="otherLinkColour">Accessors</a></li>
                    </ul>
                </li>
                <li><a href="{{ site.js_api }}BarcodeScanner/" class="otherLinkColour">BarcodeScanner</a>
                    <ul>
                        <li><a href="{{ site.js_api }}BarcodeScanner/methods/" class="otherLinkColour">Methods</a>
                            <ul>
                                <li><a href="{{ site.js_api }}BarcodeScanner/methods/initialize-and-destroy.html" class="otherLinkColour">Initialization and Destroy</a></li>
                                <li><a href="{{ site.js_api }}BarcodeScanner/methods/camera-controls.html" class="otherLinkColour">Camera Control Methods</a></li>
                                <li><a href="{{ site.js_api }}BarcodeScanner/methods/capture-settings.html" class="otherLinkColour">Capture Settings</a></li>
                                <li><a href="{{ site.js_api }}BarcodeScanner/methods/runtime-settings.html" class="otherLinkColour">Runtime Settings Methods</a></li>
                                <li><a href="{{ site.js_api }}BarcodeScanner/methods/inherited.html" class="otherLinkColour">Inherited Methods from `BarcodeReader`</a></li>
                            </ul>
                        </li>
                        <li><a href="{{ site.js_api }}BarcodeScanner/properties.html" class="otherLinkColour">Properties</a></li>
                        <li><a href="{{ site.js_api }}BarcodeScanner/accessors.html" class="otherLinkColour">Accessors</a></li>
                        <li><a href="{{ site.js_api }}BarcodeScanner/interfaces.html" class="otherLinkColour">Interfaces</a></li>
                    </ul>
                </li>
                <li><a href="{{ site.js_api }}global-interfaces.html" class="otherLinkColour">Global Interfaces</a></li>
            </ul>
        </li>
    </ul>
</li>