<li><a href="{{ site.java }}" class="otherLinkColour">Java</a>
    <ul>
        <li><a href="{{ site.java }}user-guide.html" class="otherLinkColour">User Guide</a></li>
        <li><a href="{{ site.java_api }}" class="otherLinkColour">API Reference</a>
            <ul>
                <li><span class="unavailableLink">BarcodeReader</span>
                    <ul>
                        <li><a href="{{ site.java_api }}BarcodeReader/initialize-and-destroy.html#barcodereader" class="otherLinkColour">BarcodeReader</a></li>
                        <li><a href="{{ site.java_api }}BarcodeReader/initialize-and-destroy.html#destroy" class="otherLinkColour">destroy</a></li>
                        <li><a href="{{ site.java_api }}BarcodeReader/video.html#appendframe" class="otherLinkColour">appendFrame</a></li>
                        <li><a href="{{ site.java_api }}BarcodeReader/parameter-and-runtime-settings-advanced.html#appendtplfiletoruntimesettings" class="otherLinkColour">appendTplFileToRuntimeSettings</a></li>
                        <li><a href="{{ site.java_api }}BarcodeReader/parameter-and-runtime-settings-advanced.html#appendtplstringtoruntimesettings" class="otherLinkColour">appendTplStringToRuntimeSettings</a></li>
                        <li><a href="{{ site.java_api }}BarcodeReader/decode.html#decodebase64string" class="otherLinkColour">decodeBase64String</a></li>
                        <li><a href="{{ site.java_api }}BarcodeReader/decode.html#decodebuffer" class="otherLinkColour">decodeBuffer</a></li>
                        <li><a href="{{ site.java_api }}BarcodeReader/decode.html#decodebufferedimage" class="otherLinkColour">decodeBufferedImage</a></li>
                        <li><a href="{{ site.java_api }}BarcodeReader/decode.html#decodefile" class="otherLinkColour">decodeFile</a></li>
                        <li><a href="{{ site.java_api }}BarcodeReader/decode.html#decodefileinmemory" class="otherLinkColour">decodeFileInMemory</a></li>
                        <li><a href="{{ site.java_api }}BarcodeReader/parameter-and-runtime-settings-advanced.html#getallparametertemplatenames" class="otherLinkColour">getAllParameterTemplateNames</a></li>
                        <li><a href="{{ site.java_api }}BarcodeReader/result.html#getintermediateresults" class="otherLinkColour">getIntermediateResults</a></li>
                        <li><a href="{{ site.java_api }}BarcodeReader/video.html#getlengthofframequeue" class="otherLinkColour">getLengthOfFrameQueue</a></li>
                        <li><a href="{{ site.java_api }}BarcodeReader/parameter-and-runtime-settings-basic.html#getmodeargument" class="otherLinkColour">getModeArgument</a></li>
                        <li><a href="{{ site.java_api }}BarcodeReader/parameter-and-runtime-settings-basic.html#getruntimesettings" class="otherLinkColour">getRuntimeSettings</a></li>
                        <li><a href="{{ site.java_api }}BarcodeReader/status-retrieval.html#getversion" class="otherLinkColour">getVersion</a></li>
                        <li><a href="{{ site.java_api }}BarcodeReader/video.html#initframedecodingparameters" class="otherLinkColour">initFrameDecodingParameters</a></li>
                        <li><a href="{{ site.java_api }}BarcodeReader/license.html#initlicense" class="otherLinkColour">initLicense</a></li>
                        <li><a href="{{ site.java_api }}BarcodeReader/license.html#initlicensefromlicensecontent" class="otherLinkColour">initLicenseFromLicenseContent</a></li>
                        <li><a href="{{ site.java_api }}BarcodeReader/license.html#initlicensefromserver" class="otherLinkColour">initLicenseFromServer</a></li>
                        <li><a href="{{ site.java_api }}BarcodeReader/parameter-and-runtime-settings-advanced.html#initruntimesettingswithfile" class="otherLinkColour">initRuntimeSettingsWithFile</a></li>
                        <li><a href="{{ site.java_api }}BarcodeReader/parameter-and-runtime-settings-advanced.html#initruntimesettingswithstring" class="otherLinkColour">initRuntimeSettingsWithString</a></li>
                        <li><a href="{{ site.java_api }}BarcodeReader/license.html#outputlicensetostring" class="otherLinkColour">outputLicenseToString</a></li>
                        <li><a href="{{ site.java_api }}BarcodeReader/parameter-and-runtime-settings-advanced.html#outputsettingstofile" class="otherLinkColour">outputSettingsToFile</a></li>
                        <li><a href="{{ site.java_api }}BarcodeReader/parameter-and-runtime-settings-advanced.html#outputsettingstostring" class="otherLinkColour">outputSettingsToString</a></li>
                        <li><a href="{{ site.java_api }}BarcodeReader/parameter-and-runtime-settings-basic.html#resetruntimesettings" class="otherLinkColour">resetRuntimeSettings</a></li>
                        <li><a href="{{ site.java_api }}BarcodeReader/video.html#seterrorcallback" class="otherLinkColour">setErrorCallback</a></li>
                        <li><a href="{{ site.java_api }}BarcodeReader/video.html#setintermediateresultcallback" class="otherLinkColour">setIntermediateResultCallback</a></li>
                        <li><a href="{{ site.java_api }}BarcodeReader/parameter-and-runtime-settings-basic.html#setmodeargument" class="otherLinkColour">setModeArgument</a></li>
                        <li><a href="{{ site.java_api }}BarcodeReader/video.html#settextresultcallback" class="otherLinkColour">setTextResultCallback</a></li>
                        <li><a href="{{ site.java_api }}BarcodeReader/video.html#startframedecoding" class="otherLinkColour">startFrameDecoding</a></li>
                        <li><a href="{{ site.java_api }}BarcodeReader/video.html#startframedecodingex" " class="otherLinkColour">startFrameDecodingEx</a></li>
                        <li><a href="{{ site.java_api }}BarcodeReader/video.html#stopframedecoding" class="otherLinkColour">stopFrameDecoding</a></li>
                        <li><a href="{{ site.java_api }}BarcodeReader/parameter-and-runtime-settings-basic.html#updateruntimesettings" class="otherLinkColour">updateRuntimeSettings</a></li>
                    </ul>
                </li>
                <li><span class="unavailableLink">Class</span>
                    <ul>
                        <li><a href="{{ site.java_api }}class/AztecDetails.html" class="otherLinkColour">AztecDetails</a></li>
                        <li><a href="{{ site.java_api }}class/BarcodeReaderException.html" class="otherLinkColour">BarcodeReaderException</a></li>
                        <li><a href="{{ site.java_api }}class/Contour.html" class="otherLinkColour">Contour</a></li>
                        <li><a href="{{ site.java_api }}class/DataMatrixDetails.html" class="otherLinkColour">DataMatrixDetails</a></li>
                        <li><a href="{{ site.java_api }}class/ExtendedResult.html" class="otherLinkColour">ExtendedResult</a></li>
                        <li><a href="{{ site.java_api }}class/FrameDecodingParameters.html" class="otherLinkColour">FrameDecodingParameters</a></li>
                        <li><a href="{{ site.java_api }}class/FurtherModes.html" class="otherLinkColour">FurtherModes</a></li>
                        <li><a href="{{ site.java_api }}class/ImageData.html" class="otherLinkColour">ImageData</a></li>
                        <li><a href="{{ site.java_api }}class/IntermediateResult.html" class="otherLinkColour">IntermediateResult</a></li>
                        <li><a href="{{ site.java_api }}class/LineSegment.html" class="otherLinkColour">LineSegment</a></li>
                        <li><a href="{{ site.java_api }}class/LocalizationResult.html" class="otherLinkColour">LocalizationResult</a></li>
                        <li><a href="{{ site.java_api }}class/OneDCodeDetails.html" class="otherLinkColour">OneDCodeDetails</a></li>
                        <li><a href="{{ site.java_api }}class/PDF417Details.html" class="otherLinkColour">PDF417Details</a></li>
                        <li><a href="{{ site.java_api }}class/PublicRuntimeSettings.html" class="otherLinkColour">PublicRuntimeSettings</a></li>
                        <li><a href="{{ site.java_api }}class/QRCodeDetails.html" class="otherLinkColour">QRCodeDetails</a></li>
                        <li><a href="{{ site.java_api }}class/Quadrilateral.html" class="otherLinkColour">Quadrilateral</a></li>
                        <li><a href="{{ site.java_api }}class/RegionDefinition.html" class="otherLinkColour">RegionDefinition</a></li>
                        <li><a href="{{ site.java_api }}class/RegionOfInterest.html" class="otherLinkColour">RegionOfInterest</a></li>
                        <li><a href="{{ site.java_api }}class/SamplingImageData.html" class="otherLinkColour">SamplingImageData</a></li>
                        <li><a href="{{ site.java_api }}class/TextResult.html" class="otherLinkColour">TextResult</a></li>
                    </ul>
                </li>
                <li><a href="{{ site.java_api }}interface.html" class="otherLinkColour">Interface</a></li>
            </ul>
        </li>
    </ul>
</li>