<li><a href="{{ site.js }}" class="otherLinkColour">Javascript</a>
    <ul>
        <li><a href="{{ site.js }}user-guide.html" class="otherLinkColour">User Guide</a></li>
        <li><a href="{{ site.js_api }}" class="otherLinkColour">API Reference</a>
            <ul>
                <li><span class="unavailableLink">BarcodeReader</span>
                    <ul>
                            <li><span class="unavailableLink">Methods</span>
                                    <ul>
                                        <li><a href="{{ site.js_api }}BarcodeReader/initialize-and-destroy.html#createinstance" class="otherLinkColour">createInstance</a></li>
                                        <li><a href="{{ site.js_api }}BarcodeReader/initialize-and-destroy.html#destroy" class="otherLinkColour">destroy</a></li>
                                        <li><a href="{{ site.js_api }}BarcodeReader/decode.html#decode" class="otherLinkColour">decode</a></li>
                                        <li><a href="{{ site.js_api }}BarcodeReader/decode.html#decodebase64string" class="otherLinkColour">decodeBase64String</a></li>  
                                        <li><a href="{{ site.js_api }}BarcodeReader/decode.html#decodebuffer" class="otherLinkColour">decodeBuffer</a></li>
                                        <li><a href="{{ site.js_api }}BarcodeReader/decode.html#decodeurl" class="otherLinkColour">decodeUrl</a></li>
                                        <li><a href="{{ site.js_api }}BarcodeReader/initialize-and-destroy.html#detectenvironment" class="otherLinkColour">detectEnvironment</a></li>
                                        <li><a href="{{ site.js_api }}BarcodeReader/results.html#getintermediateresults" class="otherLinkColour">getIntermediateResults</a></li>
                                        <li><a href="{{ site.js_api }}BarcodeReader/parameter-and-runtime-settings.html#getmodeargument" class="otherLinkColour">getModeArgument</a></li>
                                        <li><a href="{{ site.js_api }}BarcodeReader/parameter-and-runtime-settings.html#getruntimesettings" class="otherLinkColour">getRuntimeSettings</a></li>
                                        <li><a href="{{ site.js_api }}BarcodeReader/initialize-and-destroy.html#isloaded" class="otherLinkColour">isLoaded</a></li>
                                        <li><a href="{{ site.js_api }}BarcodeReader/initialize-and-destroy.html#loadwasm" class="otherLinkColour">loadWasm</a></li>        
                                        <li><a href="{{ site.js_api }}BarcodeReader/parameter-and-runtime-settings.html#resetruntimesettings" class="otherLinkColour">resetRuntimeSettings</a></li> 
                                        <li><a href="{{ site.js_api }}BarcodeReader/parameter-and-runtime-settings.html#setmodeargument" class="otherLinkColour">setModeArgument</a></li>  
                                        <li><a href="{{ site.js_api }}BarcodeReader/parameter-and-runtime-settings.html#updateruntimesettings" class="otherLinkColour">updateRuntimeSettings</a></li> 
                                    </ul>
                            </li>
                            <li><a href="{{ site.js_api }}BarcodeReader/properties.html" class="otherLinkColour">Properties</a></li>
                            <li><a href="{{ site.js_api }}BarcodeReader/accessors.html" class="otherLinkColour">Accessors</a></li>
                    </ul>
                </li>
                <li><span class="unavailableLink">BarcodeScanner</span>
                        <ul>
                            <li><span class="unavailableLink">Methods</span>
                                    <ul>
                                        <li><a href="{{ site.js_api }}BarcodeScanner/initialize-and-destroy.html#createinstance" class="otherLinkColour">createInstance</a></li>
                                        <li><a href="{{ site.js_api }}BarcodeScanner/initialize-and-destroy.html#destroy" class="otherLinkColour">destroy</a></li>
                                        <li><a href="{{ site.js_api }}BarcodeScanner/camera-controls.html#close" class="otherLinkColour">close</a></li>
                                        <li><a href="{{ site.js_api }}BarcodeScanner/camera-controls.html#getallcameras" class="otherLinkColour">getAllCameras</a></li>
                                        <li><a href="{{ site.js_api }}BarcodeScanner/capture-settings.html#getcapabilities" class="otherLinkColour">getCapabilities</a></li>
                                        <li><a href="{{ site.js_api }}BarcodeScanner/camera-controls.html#getcurrentcamera" class="otherLinkColour">getCurrentCamera</a></li>
                                        <li><a href="{{ site.js_api }}BarcodeScanner/capture-settings.html#getresolution" class="otherLinkColour">getResolution</a></li>
                                        <li><a href="{{ site.js_api }}BarcodeScanner/capture-settings.html#getscansettings" class="otherLinkColour">getScanSettings</a></li> 
                                        <li><a href="{{ site.js_api }}BarcodeScanner/initialize-and-destroy.html#getuielement" class="otherLinkColour">getUIElement</a></li>
                                        <li><a href="{{ site.js_api }}BarcodeScanner/capture-settings.html#getvideosettings" class="otherLinkColour">getVideoSettings</a></li> 
                                        <li><a href="{{ site.js_api }}BarcodeScanner/camera-controls.html#hide" class="otherLinkColour">hide</a></li>
                                        <li><a href="{{ site.js_api }}BarcodeScanner/camera-controls.html#isopen" class="otherLinkColour">isOpen</a></li>
                                        <li><a href="{{ site.js_api }}BarcodeScanner/camera-controls.html#open" class="otherLinkColour">open</a></li> 
                                        <li><a href="{{ site.js_api }}BarcodeScanner/camera-controls.html#pause" class="otherLinkColour">pause</a></li>
                                        <li><a href="{{ site.js_api }}BarcodeScanner/camera-controls.html#pausescan" class="otherLinkColour">pauseScan</a></li>      
                                        <li><a href="{{ site.js_api }}BarcodeScanner/camera-controls.html#play" class="otherLinkColour">play</a></li>
                                        <li><a href="{{ site.js_api }}BarcodeScanner/camera-controls.html#resumescan" class="otherLinkColour">resumeScan</a></li>
                                        <li><a href="{{ site.js_api }}BarcodeScanner/capture-settings.html#setcolortemperature" class="otherLinkColour">setColorTemperature</a></li>
                                        <li><a href="{{ site.js_api }}BarcodeScanner/camera-controls.html#setcurrentcamera" class="otherLinkColour">setCurrentCamera</a></li>
                                        <li><a href="{{ site.js_api }}BarcodeScanner/capture-settings.html#setexposurecompensation" class="otherLinkColour">setExposureCompensation</a></li>
                                        <li><a href="{{ site.js_api }}BarcodeScanner/capture-settings.html#setframerate" class="otherLinkColour">setFrameRate</a></li>  
                                        <li><a href="{{ site.js_api }}BarcodeScanner/capture-settings.html#setresolution" class="otherLinkColour">setResolution</a></li>
                                        <li><a href="{{ site.js_api }}BarcodeScanner/initialize-and-destroy.html#setuielement" class="otherLinkColour">setUIElement</a></li>      
                                        <li><a href="{{ site.js_api }}BarcodeScanner/capture-settings.html#setzoom" class="otherLinkColour">setZoom</a></li>
                                        <li><a href="{{ site.js_api }}BarcodeScanner/camera-controls.html#show" class="otherLinkColour">show</a></li>
                                        <li><a href="{{ site.js_api }}BarcodeScanner/camera-controls.html#stop" class="otherLinkColour">stop</a></li>
                                        <li><a href="{{ site.js_api }}BarcodeScanner/capture-settings.html#turnofftorch" class="otherLinkColour">turnOffTorch</a></li>
                                        <li><a href="{{ site.js_api }}BarcodeScanner/capture-settings.html#turnontorch" class="otherLinkColour">turnOnTorch</a></li>
                                        <li><a href="{{ site.js_api }}BarcodeScanner/runtime-settings.html#updateruntimesettings" class="otherLinkColour">updateRuntimeSettings</a></li>
                                        <li><a href="{{ site.js_api }}BarcodeScanner/capture-settings.html#updatescansettings" class="otherLinkColour">updateScanSettings</a></li>
                                        <li><a href="{{ site.js_api }}BarcodeScanner/capture-settings.html#updatevideosettings" class="otherLinkColour">updateVideoSettings</a></li>
                                        <li><a href="{{ site.js_api }}BarcodeScanner/inherited.html" class="otherLinkColour">Inherited Methods from `BarcodeReader`</a></li>
                                    </ul>
                            </li>
                            <li><a href="{{ site.js_api }}BarcodeScanner/properties.html" class="otherLinkColour">Properties</a></li>
                            <li><a href="{{ site.js_api }}BarcodeScanner/accessors.html" class="otherLinkColour">Accessors</a></li>
                            <li><a href="{{ site.js_api }}BarcodeScanner/interfaces.html" class="otherLinkColour">Interfaces</a></li>
                        </ul>
                </li>
                <li><a href="{{ site.js_api }}global-interfaces.html" class="otherLinkColour">Global Interfaces</a></li>
            </ul>
        </li>
    </ul>
</li>