<li><a href="{{ site.java }}" class="otherLinkColour">Java</a>
    <ul>
        <li><a href="{{ site.java }}user-guide.html" class="otherLinkColour">User Guide</a></li>
        <li><a href="{{ site.java }}samples/index.html" class="otherLinkColour">Samples and Demo</a></li>
        <li><a href="{{ site.java_api }}" class="otherLinkColour">API Reference</a>
            <ul>
                <li><a href="{{ site.java_api }}BarcodeReader/" class="otherLinkColour">BarcodeReader Class</a>
                    <ul>
                        <li><a href="{{ site.java_api }}BarcodeReader/initialize-and-destroy.html" class="otherLinkColour">Initialization and Destroy</a></li>
                        <li><a href="{{ site.java_api }}BarcodeReader/license.html" class="otherLinkColour">License Methods</a></li>
                        <li><a href="{{ site.java_api }}BarcodeReader/decode.html" class="otherLinkColour">Decode Methods</a></li>
                        <li><a href="{{ site.java_api }}BarcodeReader/parameter-and-runtime-settings-basic.html" class="otherLinkColour">Basic Settings Methods</a></li>
                        <li><a href="{{ site.java_api }}BarcodeReader/parameter-and-runtime-settings-advanced.html" class="otherLinkColour">Advanced Settings Methods</a></li>
                        <li><a href="{{ site.java_api }}BarcodeReader/result.html" class="otherLinkColour">Result Methods</a></li>
                        <li><a href="{{ site.java_api }}BarcodeReader/status-retrieval.html" class="otherLinkColour">Status Retrieval Methods</a></li>
                        <li><a href="{{ site.java_api }}BarcodeReader/video.html" class="otherLinkColour">Video Methods</a></li>
                    </ul>
                </li>
                <li><a href="{{ site.java_api }}class/" class="otherLinkColour">Auxiliary Classes</a>
                    <ul>
                        <li><a href="{{ site.java_api }}class/AztecDetails.html" class="otherLinkColour">AztecDetails</a></li>
                        <li><a href="{{ site.java_api }}class/BarcodeReaderException.html" class="otherLinkColour">BarcodeReaderException</a></li>
                        <li><a href="{{ site.java_api }}class/Contour.html" class="otherLinkColour">Contour</a></li>
                        <li><a href="{{ site.java_api }}class/DataMatrixDetails.html" class="otherLinkColour">DataMatrixDetails</a></li>
                        <li><a href="{{ site.java_api }}class/DMDLSConnectionParameters.html" class="otherLinkColour">DMDLSConnectionParameters</a></li>
                        <li><a href="{{ site.java_api }}class/ExtendedResult.html" class="otherLinkColour">ExtendedResult</a></li>
                        <li><a href="{{ site.java_api }}class/FrameDecodingParameters.html" class="otherLinkColour">FrameDecodingParameters</a></li>
                        <li><a href="{{ site.java_api }}class/FurtherModes.html" class="otherLinkColour">FurtherModes</a></li>
                        <li><a href="{{ site.java_api }}class/ImageData.html" class="otherLinkColour">ImageData</a></li>
                        <li><a href="{{ site.java_api }}class/IntermediateResult.html" class="otherLinkColour">IntermediateResult</a></li>
                        <li><a href="{{ site.java_api }}class/LineSegment.html" class="otherLinkColour">LineSegment</a></li>
                        <li><a href="{{ site.java_api }}class/LocalizationResult.html" class="otherLinkColour">LocalizationResult</a></li>
                        <li><a href="{{ site.java_api }}class/OneDCodeDetails.html" class="otherLinkColour">OneDCodeDetails</a></li>
                        <li><a href="{{ site.java_api }}class/PDF417Details.html" class="otherLinkColour">PDF417Details</a></li>
                        <li><a href="{{ site.java_api }}class/PublicRuntimeSettings.html" class="otherLinkColour">PublicRuntimeSettings</a></li>
                        <li><a href="{{ site.java_api }}class/QRCodeDetails.html" class="otherLinkColour">QRCodeDetails</a></li>
                        <li><a href="{{ site.java_api }}class/Quadrilateral.html" class="otherLinkColour">Quadrilateral</a></li>
                        <li><a href="{{ site.java_api }}class/RegionDefinition.html" class="otherLinkColour">RegionDefinition</a></li>
                        <li><a href="{{ site.java_api }}class/RegionOfInterest.html" class="otherLinkColour">RegionOfInterest</a></li>
                        <li><a href="{{ site.java_api }}class/SamplingImageData.html" class="otherLinkColour">SamplingImageData</a></li>
                        <li><a href="{{ site.java_api }}class/TextResult.html" class="otherLinkColour">TextResult</a></li>
                    </ul>
                </li>
                <li><a href="{{ site.enumerations }}?src=java" class="otherLinkColour">Enumerations</a></li>
                <li><a href="{{ site.java_api }}interface.html" class="otherLinkColour">Interfaces</a></li>
            </ul>
        </li>

        <li><a href="{{ site.java_release_notes }}" class="otherLinkColour">Release Notes</a>
            <ul>
                <li><a href="{{ site.java_release_notes }}java-8.html" class="otherLinkColour">Version 8.x</a></li>
                <li><a href="{{ site.java_release_notes }}java-7.html" class="otherLinkColour">Version 7.6.0 and below</a></li>
            </ul>
        </li>
        <li><a href="{{ site.java }}upgrade-instruction.html" class="otherLinkColour">Upgrade Instructions</a></li>
    </ul>
</li>