<li><a href="{{ site.python }}" class="otherLinkColour">Python</a>
    <ul>
        <li><a href="{{ site.python }}user-guide.html" class="otherLinkColour">User Guide</a></li>
        <li><a href="{{ site.python }}samples/index.html" class="otherLinkColour">Samples and Demo</a></li>
        <li><a href="{{ site.python_api }}" class="otherLinkColour">API Reference</a>
            <ul>
                <li><a href="{{ site.python_api }}BarcodeReader/" class="otherLinkColour">BarcodeReader Class</a>
                    <ul>
                        <li><a href="{{ site.python_api }}BarcodeReader/constructor-and-destructor.html" class="otherLinkColour">Constructor and Destructor</a></li>
                        <li><a href="{{ site.python_api }}BarcodeReader/license.html" class="otherLinkColour">License Methods</a></li>
                        <li><a href="{{ site.python_api }}BarcodeReader/decode.html" class="otherLinkColour">Decode Methods</a></li> 
                        <li><a href="{{ site.python_api }}BarcodeReader/parameter-and-runtime-settings-basic.html" class="otherLinkColour">Basic Settings Methods</a></li>
                        <li><a href="{{ site.python_api }}BarcodeReader/parameter-and-runtime-settings-advanced.html" class="otherLinkColour">Advanced Settings Methods</a></li>
                        <li><a href="{{ site.python_api }}BarcodeReader/video.html" class="otherLinkColour">Video Methods</a></li>
                        <li><a href="{{ site.python_api }}BarcodeReader/result.html" class="otherLinkColour">Result Methods</a></li>
                        
                    </ul>
                </li>
                <li><a href="{{ site.python_api }}class/" class="otherLinkColour">Auxiliary Classes</a>
                    <ul>
                        <li><a href="{{ site.python_api }}class/AztecDetailedResult.html" class="otherLinkColour">AztecDetailedResult</a></li>
                        <li><a href="{{ site.python_api }}class/BarcodeReaderError.html" class="otherLinkColour">BarcodeReaderError</a></li>
                        <li><a href="{{ site.python_api }}class/Contour.html" class="otherLinkColour">Contour</a></li>
                        <li><a href="{{ site.python_api }}class/DataMatrixDetailedResult.html" class="otherLinkColour">DataMatrixDetailedResult</a></li>
                        <li><a href="{{ site.python_api }}class/DMDLSConnectionParameters.html" class="otherLinkColour">DMDLSConnectionParameters</a></li>
                        <li><a href="{{ site.python_api }}class/ErrorCallBack.html" class="otherLinkColour">ErrorCallBack</a></li>
                        <li><a href="{{ site.python_api }}class/ExtendedResult.html" class="otherLinkColour">ExtendedResult</a></li>
                        <li><a href="{{ site.python_api }}class/FrameDecodingParameters.html" class="otherLinkColour">FrameDecodingParameters</a></li>
                        <li><a href="{{ site.python_api }}class/ImageData.html" class="otherLinkColour">ImageData</a></li>
                        <li><a href="{{ site.python_api }}class/IntermediateResult.html" class="otherLinkColour">IntermediateResult</a></li>
                        <li><a href="{{ site.python_api }}class/IntermediateResultCallBack.html" class="otherLinkColour">IntermediateResultCallBack</a></li>
                        <li><a href="{{ site.python_api }}class/LineSegment.html" class="otherLinkColour">LineSegment</a></li>
                        <li><a href="{{ site.python_api }}class/LocalizationResult.html" class="otherLinkColour">LocalizationResult</a></li>
                        <li><a href="{{ site.python_api }}class/OnedDetailedResult.html" class="otherLinkColour">OnedDetailedResult</a></li>
                        <li><a href="{{ site.python_api }}class/PDFDetailedResult.html" class="otherLinkColour">PDFDetailedResult</a></li>
                        <li><a href="{{ site.python_api }}class/Point.html" class="otherLinkColour">Point</a></li>
                        <li><a href="{{ site.python_api }}class/PublicRuntimeSettings.html" class="otherLinkColour">PublicRuntimeSettings</a></li>
                        <li><a href="{{ site.python_api }}class/QRCodeDetailedResult.html" class="otherLinkColour">QRCodeDetailedResult</a></li>
                        <li><a href="{{ site.python_api }}class/Quadrilateral.html" class="otherLinkColour">Quadrilateral</a></li>
                        <li><a href="{{ site.python_api }}class/RegionOfInterest.html" class="otherLinkColour">RegionOfInterest</a></li>
                        <li><a href="{{ site.python_api }}class/SamplingImageData.html" class="otherLinkColour">SamplingImageData</a></li>
                        <li><a href="{{ site.python_api }}class/TextResult.html" class="otherLinkColour">TextResult</a></li>
                        <li><a href="{{ site.python_api }}class/TextResultCallBack.html" class="otherLinkColour">TextResultCallBack</a></li>
                    </ul>
                </li>
                <li><a href="{{ site.enumerations }}?src=python" class="otherLinkColour">Enumerations</a></li>
            </ul>
        </li>

        <li><a href="{{ site.python_release_notes }}" class="otherLinkColour">Release Notes</a>
            <ul>
                <li><a href="{{ site.python_release_notes }}python-8.html" class="otherLinkColour">Version 8.x</a></li>
                <li><a href="{{ site.python_release_notes }}python-7.html" class="otherLinkColour">Version 7.6.0 and below</a></li>
            </ul>
        </li>
        <li><a href="{{ site.python }}upgrade-instruction.html" class="otherLinkColour">Upgrade Instructions</a></li>
    </ul>
    
</li>