<li><a href="{{ site.oc }}" class="otherLinkColour">Objective-C & Swift</a>
    <ul>
        <li><a href="{{ site.oc }}user-guide.html" class="otherLinkColour">User Guide</a></li>
        <li><a href="{{ site.oc_api }}" class="otherLinkColour">API Reference</a>
            <ul>
                <li><a href="{{ site.oc_api }}methods/" class="otherLinkColour">Methods</a>
                    <ul>
                        <li><a href="{{ site.oc_api }}methods/decode.html" class="otherLinkColour">Decode Methods</a></li>
                        <li><a href="{{ site.oc_api }}methods/initialize.html" class="otherLinkColour">Initialize Methods</a></li> 
                        <li><a href="{{ site.oc_api }}methods/license.html" class="otherLinkColour">License Methods</a></li>
                        <li><a href="{{ site.oc_api }}methods/parameter-and-runtime-settings-advanced.html" class="otherLinkColour">Parameter and Runtime Settings Advanced Methods</a></li>
                        <li><a href="{{ site.oc_api }}methods/parameter-and-runtime-settings-basic.html" class="otherLinkColour">Parameter and Runtime Settings Basic Methods</a></li>
                        <li><a href="{{ site.oc_api }}methods/result.html" class="otherLinkColour">Result Methods</a></li>
                        <li><a href="{{ site.oc_api }}methods/video.html" class="otherLinkColour">Video Methods</a></li>
                    </ul>
                </li>
                <li><a href="{{ site.oc_api }}class/" class="otherLinkColour">Class</a>
                    <ul>
                        <li><a href="{{ site.oc_api }}class/iAztecDetails.html" class="otherLinkColour">iAztecDetails</a></li>
                        <li><a href="{{ site.oc_api }}class/iContour.html" class="otherLinkColour">iContour</a></li>
                        <li><a href="{{ site.oc_api }}class/iDBRPoint.html" class="otherLinkColour">iDBRPoint</a></li>
                        <li><a href="{{ site.oc_api }}class/iDataMatrixDetails.html" class="otherLinkColour">iDataMatrixDetails</a></li>
                        <li><a href="{{ site.oc_api }}class/iExtendedResult.html" class="otherLinkColour">iExtendedResult</a></li>
                        <li><a href="{{ site.oc_api }}class/iFrameDecodingParameters.html" class="otherLinkColour">iFrameDecodingParameters</a></li>
                        <li><a href="{{ site.oc_api }}class/iFurtherModes.html" class="otherLinkColour">iFurtherModes</a></li>
                        <li><a href="{{ site.oc_api }}class/iImageData.html" class="otherLinkColour">iImageData</a></li>
                        <li><a href="{{ site.oc_api }}class/iIntermediateResult.html" class="otherLinkColour">iIntermediateResult</a></li>
                        <li><a href="{{ site.oc_api }}class/iLineSegment.html" class="otherLinkColour">iLineSegment</a></li>
                        <li><a href="{{ site.oc_api }}class/iLocalizationResult.html" class="otherLinkColour">iLocalizationResult</a></li>
                        <li><a href="{{ site.oc_api }}class/iOneDCodeDetails.html" class="otherLinkColour">iOneDCodeDetails</a></li>
                        <li><a href="{{ site.oc_api }}class/iPDF417Details.html" class="otherLinkColour">iPDF417Details</a></li>
                        <li><a href="{{ site.oc_api }}class/iPublicRuntimeSettings.html" class="otherLinkColour">iPublicRuntimeSettings</a></li>
                        <li><a href="{{ site.oc_api }}class/iQRCodeDetails.html" class="otherLinkColour">iQRCodeDetails</a></li>
                        <li><a href="{{ site.oc_api }}class/iQuadrilateral.html" class="otherLinkColour">iQuadrilateral</a></li>
                        <li><a href="{{ site.oc_api }}class/iRegionDefinition.html" class="otherLinkColour">iRegionDefinition</a></li>
                        <li><a href="{{ site.oc_api }}class/iRegionOfInterest.html" class="otherLinkColour">iRegionOfInterest</a></li>
                        <li><a href="{{ site.oc_api }}class/iSamplingImageData.html" class="otherLinkColour">iSamplingImageData</a></li>
                        <li><a href="{{ site.oc_api }}class/iTextResult.html" class="otherLinkColour">iTextResult</a></li>
                    </ul>
                </li>
            </ul>
        </li>
    </ul>
</li>