<li><a href="{{ site.c }}" class="otherLinkColour">C</a>
    <ul>
        <li><a href="{{ site.c }}user-guide.html" class="otherLinkColour">User Guide</a></li>
        <li><a href="{{ site.c_api }}" class="otherLinkColour">API Reference</a>
            <ul>
                <li><a href="{{ site.c_methods }}" class="otherLinkColour">Global Functions</a>
                    <ul>
                        <li><a href="{{ site.c_methods }}initialize-and-destroy.html" class="otherLinkColour">Initialize and Destroy</a></li>
                        <li><a href="{{ site.c_methods }}license.html" class="otherLinkColour">License Functions</a></li>
                        <li><a href="{{ site.c_methods }}decode.html" class="otherLinkColour">Decode Functions</a></li>
                        <li><a href="{{ site.c_methods }}parameter-and-runtime-settings-basic.html" class="otherLinkColour">Basic Settings Functions</a></li>
                        <li><a href="{{ site.c_methods }}parameter-and-runtime-settings-advanced.html" class="otherLinkColour">Advanced Settings Functions</a></li>
                        <li><a href="{{ site.c_methods }}result.html" class="otherLinkColour">Result Functions</a></li>
                        <li><a href="{{ site.c_methods }}status-retrieval.html" class="otherLinkColour">Status Retrieval Functions</a></li>
                        <li><a href="{{ site.c_methods }}video.html" class="otherLinkColour">Video Functions</a></li>
                    </ul>
                </li>
                <li><a href="{{ site.structs }}?src=c" class="otherLinkColour">Structs</a>
                    <ul>
                        <li><a href="{{ site.structs }}AztecDetails.html?src=c" class="otherLinkColour">AztecDetails</a></li>
                        <li><a href="{{ site.structs }}Contour.html?src=c" class="otherLinkColour">Contour</a></li>
                        <li><a href="{{ site.structs }}DBRPoint.html?src=c" class="otherLinkColour">DBRPoint</a></li>
                        <li><a href="{{ site.structs }}DataMatrixDetails.html?src=c" class="otherLinkColour">DataMatrixDetails</a></li>
                        <li><a href="{{ site.structs }}DMLTSConnectionParameters.html?src=c" class="otherLinkColour">DM_LTSConnectionParameters</a></li>
                        <li><a href="{{ site.structs }}ExtendedResult.html?src=c" class="otherLinkColour">ExtendedResult</a></li>
                        <li><a href="{{ site.structs }}FrameDecodingParameters.html?src=c" class="otherLinkColour">FrameDecodingParameters</a></li>
                        <li><a href="{{ site.structs }}FurtherModes.html?src=c" class="otherLinkColour">FurtherModes</a></li>
                        <li><a href="{{ site.structs }}ImageData.html?src=c" class="otherLinkColour">ImageData</a></li>
                        <li><a href="{{ site.structs }}IntermediateResult.html?src=c" class="otherLinkColour">IntermediateResult</a></li>
                        <li><a href="{{ site.structs }}IntermediateResultArray.html?src=c" class="otherLinkColour">IntermediateResultArray</a></li>
                        <li><a href="{{ site.structs }}LineSegment.html?src=c" class="otherLinkColour">LineSegment</a></li>
                        <li><a href="{{ site.structs }}LocalizationResult.html?src=c" class="otherLinkColour">LocalizationResult</a></li>
                        <li><a href="{{ site.structs }}OneDCodeDetails.html?src=c" class="otherLinkColour">OneDCodeDetails</a></li>
                        <li><a href="{{ site.structs }}PDF417Details.html?src=c" class="otherLinkColour">PDF417Details</a></li>
                        <li><a href="{{ site.structs }}PublicRuntimeSettings.html?src=c" class="otherLinkColour">PublicRuntimeSettings</a></li>
                        <li><a href="{{ site.structs }}QRCodeDetails.html?src=c" class="otherLinkColour">QRCodeDetails</a></li>
                        <li><a href="{{ site.structs }}Quadrilateral.html?src=c" class="otherLinkColour">Quadrilateral</a></li>
                        <li><a href="{{ site.structs }}RegionDefinition.html?src=c" class="otherLinkColour">RegionDefinition</a></li>
                        <li><a href="{{ site.structs }}RegionOfInterest.html?src=c" class="otherLinkColour">RegionOfInterest</a></li>
                        <li><a href="{{ site.structs }}SamplingImageData.html?src=c" class="otherLinkColour">SamplingImageData</a></li>
                        <li><a href="{{ site.structs }}TextResult.html?src=c" class="otherLinkColour">TextResult</a></li>
                        <li><a href="{{ site.structs }}TextResultArray.html?src=c" class="otherLinkColour">TextResultArray</a></li>
                    </ul>
                </li>
                <li><a href="{{ site.enumerations }}?src=c" class="otherLinkColour">Enumerations</a></li>
                <li><a href="{{ site.c_api }}function-pointer.html" class="otherLinkColour">Callbacks</a></li>
            </ul>
        </li>
        
        <li><a href="{{ site.c_release_notes }}" class="otherLinkColour">Release Notes</a>
            <ul>
                <li><a href="{{ site.c_release_notes }}c-8.html" class="otherLinkColour">Version 8.x</a></li>
                <li><a href="{{ site.c_release_notes }}c-7.html" class="otherLinkColour">Version 7.6.0 and below</a></li>
            </ul>
        </li>
        <li><a href="{{ site.c }}upgrade-instruction.html" class="otherLinkColour">Upgrade Instructions</a></li>
    </ul>
</li>