<li><a href="{{ site.dotnet }}" class="otherLinkColour">.NET</a>
    <ul>
        <li><a href="{{ site.dotnet }}user-guide.html" class="otherLinkColour">User Guide</a></li>
        <li><a href="{{ site.dotnet_api }}" class="otherLinkColour">API Reference</a>
            <ul>
                <li><span class="unavailableLink">BarcodeReader Methods</span>
                    <ul>
                            <li><a href="{{ site.dotnet_api }}BarcodeReader/constructor-and-destructor.html#barcodereader" class="otherLinkColour">BarcodeReader</a></li>
                            <li><a href="{{ site.dotnet_api }}BarcodeReader/constructor-and-destructor.html#dispose" class="otherLinkColour">Dispose</a></li>  
                            <li><a href="{{ site.dotnet_api }}BarcodeReader/video.html#appendframe" class="otherLinkColour">AppendFrame</a></li>
                            <li><a href="{{ site.dotnet_api }}BarcodeReader/parameter-and-runtime-settings-advanced.html#appendtplfiletoruntimesettings" class="otherLinkColour">AppendTplFileToRuntimeSettings</a></li>
                            <li><a href="{{ site.dotnet_api }}BarcodeReader/parameter-and-runtime-settings-advanced.html#appendtplstringtoruntimesettings" class="otherLinkColour">AppendTplStringToRuntimeSettings</a></li>
                            <li><a href="{{ site.dotnet_api }}BarcodeReader/decode.html#decodebase64string" class="otherLinkColour">DecodeBase64String</a></li> 
                            <li><a href="{{ site.dotnet_api }}BarcodeReader/decode.html#decodebitmap" class="otherLinkColour">DecodeBitmap</a></li> 
                            <li><a href="{{ site.dotnet_api }}BarcodeReader/decode.html#decodebuffer" class="otherLinkColour">DecodeBuffer</a></li>
                            <li><a href="{{ site.dotnet_api }}BarcodeReader/decode.html#decodefile" class="otherLinkColour">DecodeFile</a></li>
                            <li><a href="{{ site.dotnet_api }}BarcodeReader/decode.html#decodefileinmemory" class="otherLinkColour">DecodeFileInMemory</a></li>  
                            <li><a href="{{ site.dotnet_api }}BarcodeReader/result.html#getintermediateresults" class="otherLinkColour">GetIntermediateResults</a></li>
                            <li><a href="{{ site.dotnet_api }}BarcodeReader/video.html#getlengthofframequeue" class="otherLinkColour">GetLengthOfFrameQueue</a></li>
                            <li><a href="{{ site.dotnet_api }}BarcodeReader/parameter-and-runtime-settings-basic.html#getmodeargument" class="otherLinkColour">GetModeArgument</a></li>
                            <li><a href="{{ site.dotnet_api }}BarcodeReader/parameter-and-runtime-settings-advanced.html#getparametertemplatename" class="otherLinkColour">GetParameterTemplateName</a></li>
                            <li><a href="{{ site.dotnet_api }}BarcodeReader/parameter-and-runtime-settings-basic.html#getruntimesettings" class="otherLinkColour">GetRuntimeSettings</a></li>
                            <li><a href="{{ site.dotnet_api }}BarcodeReader/status-retrieval.html#getversion" class="otherLinkColour">GetVersion</a></li>
                            <li><a href="{{ site.dotnet_api }}BarcodeReader/video.html#initframedecodingparameters" class="otherLinkColour">InitFrameDecodingParameters</a></li>
                            <li><a href="{{ site.dotnet_api }}BarcodeReader/license.html#initlicensefromlicensecontent" class="otherLinkColour">InitLicenseFromLicenseContent</a></li>
                            <li><a href="{{ site.dotnet_api }}BarcodeReader/license.html#initlicensefromserver" class="otherLinkColour">InitLicenseFromServer</a></li>
                            <li><a href="{{ site.dotnet_api }}BarcodeReader/parameter-and-runtime-settings-advanced.html#initruntimesettingswithfile" class="otherLinkColour">InitRuntimeSettingsWithFile</a></li>
                            <li><a href="{{ site.dotnet_api }}BarcodeReader/parameter-and-runtime-settings-advanced.html#initruntimesettingswithstring" class="otherLinkColour">InitRuntimeSettingsWithString</a></li>
                            <li><a href="{{ site.dotnet_api }}BarcodeReader/license.html#outputlicensetostring" class="otherLinkColour">OutputLicenseToString</a></li>
                            <li><a href="{{ site.dotnet_api }}BarcodeReader/parameter-and-runtime-settings-advanced.html#outputsettingstostring" class="otherLinkColour">OutputSettingsToString</a></li>
                            <li><a href="{{ site.dotnet_api }}BarcodeReader/parameter-and-runtime-settings-advanced.html#outputsettingstofile" class="otherLinkColour">OutputSettingsToFile</a></li>
                            <li><a href="{{ site.dotnet_api }}BarcodeReader/parameter-and-runtime-settings-basic.html#resetruntimesettings" class="otherLinkColour">ResetRuntimeSettings</a></li>
                            <li><a href="{{ site.dotnet_api }}BarcodeReader/video.html#seterrorcallback" class="otherLinkColour">SetErrorCallback</a></li>
                            <li><a href="{{ site.dotnet_api }}BarcodeReader/video.html#setintermediateresultcallback" class="otherLinkColour">SetIntermediateResultCallback</a></li>
                            <li><a href="{{ site.dotnet_api }}BarcodeReader/parameter-and-runtime-settings-basic.html#setmodeargument" class="otherLinkColour">SetModeArgument</a></li>
                            <li><a href="{{ site.dotnet_api }}BarcodeReader/video.html#settextresultcallback" class="otherLinkColour">SetTextResultCallback</a></li>
                            <li><a href="{{ site.dotnet_api }}BarcodeReader/video.html#startframedecoding" class="otherLinkColour">StartFrameDecoding</a></li>
                            <li><a href="{{ site.dotnet_api }}BarcodeReader/video.html#startframedecodingex" class=" otherLinkColour">StartFrameDecodingEx</a></li>
                            <li><a href="{{ site.dotnet_api }}BarcodeReader/video.html#stopframedecoding" class="otherLinkColour">StopFrameDecoding</a></li>
                            <li><a href="{{ site.dotnet_api }}BarcodeReader/parameter-and-runtime-settings-basic.html#updateruntimesettings" class="otherLinkColour">UpdateRuntimeSettings</a></li>            
                    </ul>
                </li>
                <li><span class="unavailableLink">Class</span>
                    <ul>
                            <li><a href="{{ site.dotnet_api }}class/AztecDetails.html" class="otherLinkColour">AztecDetails</a></li>
                            <li><a href="{{ site.dotnet_api }}class/BarcodeReaderException.html" class="otherLinkColour">BarcodeReaderException</a></li>
                            <li><a href="{{ site.dotnet_api }}class/Contour.html" class="otherLinkColour">Contour</a></li>
                            <li><a href="{{ site.dotnet_api }}class/DataMatrixDetails.html" class="otherLinkColour">DataMatrixDetails</a></li>
                            <li><a href="{{ site.dotnet_api }}class/ExtendedResult.html" class="otherLinkColour">ExtendedResult</a></li>
                            <li><a href="{{ site.dotnet_api }}class/FrameDecodingParameters.html" class="otherLinkColour">FrameDecodingParameters</a></li>
                            <li><a href="{{ site.dotnet_api }}class/ImageData.html" class="otherLinkColour">ImageData</a></li>
                            <li><a href="{{ site.dotnet_api }}class/IntermediateResult.html" class="otherLinkColour">IntermediateResult</a></li>
                            <li><a href="{{ site.dotnet_api }}class/LineSegment.html" class="otherLinkColour">LineSegment</a></li>
                            <li><a href="{{ site.dotnet_api }}class/LocalizationResult.html" class="otherLinkColour">LocalizationResult</a></li>
                            <li><a href="{{ site.dotnet_api }}class/OneDCodeDetails.html" class="otherLinkColour">OneDCodeDetails</a></li>
                            <li><a href="{{ site.dotnet_api }}class/PDF417Details.html" class="otherLinkColour">PDF417Details</a></li>
                            <li><a href="{{ site.dotnet_api }}class/QRCodeDetails.html" class="otherLinkColour">QRCodeDetails</a></li>
                            <li><a href="{{ site.dotnet_api }}class/Quadrilateral.html" class="otherLinkColour">Quadrilateral</a></li>
                            <li><a href="{{ site.dotnet_api }}class/RegionOfInterest.html" class="otherLinkColour">RegionOfInterest</a></li>
                            <li><a href="{{ site.dotnet_api }}class/SamplingImageData.html"class="otherLinkColour">SamplingImageData</a></li>
                            <li><a href="{{ site.dotnet_api }}class/TextResult.html" class="otherLinkColour">TextResult</a></li>
                    </ul>
                </li>
                <li><span class="unavailableLink">Struct</span>
                    <ul>
                            <li><a href="{{ site.dotnet_api }}struct/FurtherModes.html" class="otherLinkColour">FurtherModes</a></li>
                            <li><a href="{{ site.dotnet_api }}struct/PublicRuntimeSettings.html" class="otherLinkColour">PublicRuntimeSettings</a></li>
                            <li><a href="{{ site.dotnet_api }}struct/RegionDefinition.html" class="otherLinkColour">RegionDefinition</a></li>
                    </ul>
                </li>
                <li><a href="{{ site.dotnet_api }}function-pointer.html" class="otherLinkColour">Function Pointer</a></li>
            </ul>
        </li>
    </ul>
</li>