@font-face { font-family: Oswald; src: local('â˜º'), url('../font-face/Oswald-Regular.ttf') format('truetype'); font-weight: normal; font-style: normal; }
@font-face { font-family: Oswald-Light; src: local('â˜º'), url('../font-face/Oswald-Light.ttf') format('truetype'); font-weight: normal; font-style: normal; }
@font-face { font-family: OpenSans-Light; src: url('../font-face/OpenSans-Light.eot'); src: local('â˜º'), url('../font-face/OpenSans-Light.eot?#iefix') format('embedded-opentype'), url('../font-face/OpenSans-Light.woff') format('woff'), url('../font-face/OpenSans-Light.ttf') format('truetype'), url('../font-face/OpenSans-Light.svg#webfontOTINA1xY') format('svg'); font-weight: normal; font-style: normal; }
@font-face { font-family: OpenSans-Regular; src: url('../font-face/OpenSans-Regular.eot'); src: local('â˜º'), url('../font-face/OpenSans-Regular.eot?#iefix') format('embedded-opentype'), url('../font-face/OpenSans-Regular.woff') format('woff'), url('../font-face/OpenSans-Regular.ttf') format('truetype'), url('../font-face/OpenSans-Regular.svg#webfontOTINA1xY') format('svg'); font-weight: normal; font-style: normal; }
@font-face { font-family: OpenSans-Semibold; src: url('../font-face/OpenSans-Semibold.eot'); src: local('â˜º'), url('../font-face/OpenSans-Semibold.eot?#iefix') format('embedded-opentype'), url('../font-face/OpenSans-Semibold.woff') format('woff'), url('../font-face/OpenSans-Semibold.ttf') format('truetype'), url('../font-face/OpenSans-Semibold.svg#webfontOTINA1xY') format('svg'); font-weight: normal; font-style: normal; }

/*  NORMAL STYLE  */
html {font-size:10px;color:#606060;font-family:OpenSans-Regular}
.h1, .h2, .h3, .h4, .h5, h1, h2, h3, h4, h5 {color:#444; font-family: Oswald-Light; font-weight: normal;}
strong {color:#444;font-weight:400}
.h1, h1 {font-size:30px;font-size:3rem;line-height:42px}
.h2, h2 {font-size:24px;font-size:2.4rem;line-height:36px}
.h3, h3 {font-size:18px;font-size:1.8rem;line-height:27px}
.h4, h4 {font-size:16px;font-size:1.6rem;line-height:26px}
.h4, .h5, h4, h5 {font-family: OpenSans-Semibold}
.h5, h5 {font-size:14px;font-size:1.4rem;line-height:24px}
.markdown-body h1, .markdown-body h2, .markdown-body h3, .markdown-body h4, .markdown-body h5, .markdown-body h6 { font-weight: normal; }
*{ box-sizing: border-box; margin: 0; padding: 0; }
.fontOswald { font-family: Oswald; }

.otherLinkColour { color: #3C3C3C; }
.otherLinkColour:hover { text-decoration: underline; color: #585858; }
.unavailableLink { color:#A9A9A9; cursor: text; }

.container .head {  padding-top: 40px; background: #ffffff; }
#docHead.ch-fixed { position: fixed; z-index: 12; top: 60px; padding: 20px 0 20px 0; margin-top: 0px; }
.container .docContainer.dc-fixed { margin-top: 60px; }
.container .docContainer .head { width: 100%; }
.container .docContainer .head  .editLinkColour  { padding: 0 20px; }
.sideHomePage { font-size: 15px; color: #585858; }

ul { margin-left: 20px; }
ul.circle { list-style-type:circle; padding-left: 30px; line-height: 28px; }
ul.square { list-style-type:square; padding-left: 30px; line-height: 28px; }
ul.disc { list-style-type: disc; padding-left: 30px; line-height: 28px; margin-left: 0; margin-top: 149px; }
ul.circle > li p:hover, ul.circle li.on p, ul.square > li.on p, ul.square > li p:hover, ul.disc > li.on p, ul.disc > li p:hover { color: #3196fc; }

.mainPage { padding-left: 0px; line-height: 28px; margin: 0; margin-top:10px; overflow: auto; }

.headCounter h2:before { content: counter(h2counter) ".	"; }
.headCounter h2 { counter-reset: h3counter; counter-increment: h2counter; }
.headCounter h3:before { content: counter(h2counter) "." counter(h3counter) "	"; }
.headCounter h3 { counter-increment: h3counter; }

/* default-layout.html   ---- subHeadWrapper */

.subHeadWrapper { width: 100%; height: 60px; line-height: 58px; background-color: #ffffff; border-bottom: 1px solid #ddd; }
.subHeadWrapper.shw-fixed { position: fixed; z-index: 12; top: 0; }
.subHeadWrapper .subHeaderMenuUl { list-style: none; font-size: 16px; margin: 0; cursor: pointer; }
.subHeadWrapper .subHeaderMenuUl li { padding: 0 10px; cursor: pointer; display: inline-block; color: #323234; vertical-align: top; }
.subHeadWrapper .subHeaderMenuUl li.on { color: #FE8E14; vertical-align: top; }
.subHeadWrapper .subHeaderMenuUl li a, .subHeadWrapper .subHeaderMenuUl li a.whitelink { color: #323234; }
.subHeadWrapper .subHeaderMenuUl li a.orangelink { color: #FE8E14; }
.subHeadWrapper .subHeaderMenuUl li a.whitelink:hover { color: #FE8E14; }
.subHeadWrapper .subHeaderMenuUl li a.bgOrange { color: #FFFFFF; }
.subHeadWrapper .subHeaderMenuUl li.title { margin-right: 20px; padding: 0; }
.subHeadWrapper .mobileSubHeaderMenu { line-height: 40px; }
.subHeadWrapper .mobileSubHeaderMenu ul { margin-left: 0; line-height: 40px; background: #f5f5f5; font-size: 16px; }
.subHeadWrapper .mobileSubHeaderMenu ul li { display: inline-block; margin-right: 20px; }
.subHeadWrapper .mobileSubHeaderMenu ul li:last-child { margin-right: 0; }

.rightSideMenu { border-left: 1px solid #ddd; margin-top: 40px; height: 100%; max-height: 90vh; overflow: auto; }
.rightSideMenu.rsm-fixed { position: fixed; top: 80px; }
.rightSideMenu ul { font-size: 14px; line-height: 22px; }
.rightSideMenu ul li { margin-bottom: 5px; }
.rightSideMenu ul li > ul { margin-top: 5px; }


.markdown-body { margin-top: 40px; box-sizing: border-box; min-height: auto; }
.markdown-body table th, .markdown-body table td { border-left: 1px solid #306877; border-right: 1px solid #306877; border-top: 1px solid #c7d0db; border-bottom: 1px solid #c7d0db; font-size: 14px;height: 30px; padding: 5px 10px; color: #606060; }
.markdown-body table tr:last-child td { border-bottom: 1px solid #306877; }
.markdown-body table th { border-top: 1px solid #306877; }
.markdown-body table thead th { background-color: #306877; text-align: left; color: #FFFFFF; font-family: Oswald; font-size: 16px!important; font-weight: normal!important; }
.markdown-body table thead th strong { color: #FFFFFF; }
.markdown-body table tr:nth-child(2n) { background-color: #ffffff; }
.markdown-body h1 { border-bottom: 0; font-size: 30px; }
.markdown-body h2 { padding-top: 150px; margin-top: -120px; border-bottom: 0; font-size: 20px;}
.markdown-body h3 { padding-top: 140px; margin-top: -140px; border-bottom: 0; font-size: 18px;}
.markdown-body h4 { padding-top: 140px; margin-top: -140px; font-weight: normal; }
.markdown-body code.language-plaintext { padding: 3px 5px; color: #306877;background-color: #d5e6ea; border-radius: 0; }
.markdown-body h3 code { font-family: Oswald-Light; font-weight: normal; }
.markdown-body ol, .markdown-body ol li  { list-style: decimal; }
.markdown-body ul, .markdown-body ul li { list-style: disc; margin-left: 0; }
.markdown-body a, .markdown-body a:active { color:#50a8e1;text-decoration:none!important }
.markdown-body a:hover { color:#61c2ec }
#crumbs { font-size: 14px; }
#crumbs ul { list-style: none; padding-inline-start: 0px; margin-left: 0px; }
#crumbs ul li { display: inline-block; }
#crumbs ul > li + li:before { color: #CCCCCC; content: "> "; padding: 0 5px; }

#menuLsitContainer ul { display: none; }

#sideBarCnt.ftm-fixed, #fullTreeMenuListContainer.ftm-fixed { position: fixed; top: 60px; max-height: unset; }
#fullTreeMenuListContainer ul { display: none; margin-left: 15px; margin-bottom: 10px; }
#fullTreeMenuListContainer li { list-style: none; padding-left: 15px; line-height: 20px; margin-bottom: 8px; position: relative; }
#fullTreeMenuListContainer li:before { content: ''; width: 6px; height: 6px; border-radius: 50%; display: inline-block; background: #999; position: absolute; left: 2px; top: 8px; }
#fullTreeMenuListContainer li.unavailableLink:before { display: none; }
#fullTreeMenuListContainer li > ul { margin-top: 8px; }
#fullTreeMenuListContainer li.collapseListStyle, #fullTreeMenuListContainer li.expandListStyle { padding-left: 0; }
#fullTreeMenuListContainer li.collapseListStyle:before, #fullTreeMenuListContainer li.expandListStyle:before { display: none; }
#fullTreeMenuListContainer li.collapseListStyle > a { display: inline-block; padding-left: 15px; background: url(../img-icon/collapse-list.png) left 2px no-repeat; }
#fullTreeMenuListContainer li.expandListStyle > a { display: inline-block; padding-left: 15px; background: url(../img-icon/expand-list.png) left 2px no-repeat; }
#AutoGenerateSidebar li a:hover, #fullTreeMenuListContainer li a:hover { color: #FE8E14; }
.recordLink { color: #306877;  display: inline-block;line-height: 24px; }
.recordLink.sadLink { margin-left: 15px; }
.icon-smile { display: inline-block; width: 24px; height: 24px; margin-right: 5px; vertical-align: top;}
.icon-sad { display: inline-block; width: 24px; height: 24px; margin-right: 5px; vertical-align: top;}
#sideBarCnt .docSearchPart { position: relative;  }
/* margin-top: 30px; */
#sideBarCnt .docSearchPart::before { content: ''; width: 16px; height: 16px; position: absolute; background: url(https://www.dynamsoft.com/assets/img-icon/icon-search-9-16x16.png) no-repeat center center; display: block; top: 7px; left: 5px; z-index: 11; }
#sideBarCnt .docSearchPart .search { position: relative; height: 30px; width: 100%; max-width: 250px; padding: 5px 5px 5px 27px; }

.btn { font-family: OpenSans-Regular; }

#footerTop .subscribe { margin-left: 0; }

#TryFreeDownload .discription { max-width: 800px; text-align: center; margin: 20px auto 0; }

#compatibleInfo { background: #ebebeb; padding: 10px;margin-bottom: 10px; }
#compatibleInfo p { margin-bottom: 0; font-family: Oswald-Light; }
#compatibleInfo p.compatibleCurVersion  { font-family: Oswald; }

/*修改滚动条样式*/
div::-webkit-scrollbar, ul::-webkit-scrollbar{
  width:8px;
  height:8px;
  /**/
}
div::-webkit-scrollbar-track, ul::-webkit-scrollbar-track{
  background: rgb(239, 239, 239);
  border-radius:2px;
}
div::-webkit-scrollbar-thumb, ul::-webkit-scrollbar-thumb{
  background: #bfbfbf;
  border-radius:8px;
}
div::-webkit-scrollbar-thumb:hover, ul::-webkit-scrollbar-thumb:hover{
  background: #999;
}
div::-webkit-scrollbar-corner, ul::-webkit-scrollbar-corner{
  background: #179a16;
}
.history { 
	position: relative;
	/* border-top: 1px solid #ddd;
	border-bottom: 1px solid #ddd; */
	padding-top: 10px;
	padding-bottom: 10px;
	text-align: center;
	background: #306877; 
	color: #FFFFFF;
}
.history.history-fixed {
	position: fixed;
	width: 100%;
	bottom: 0;
}
.history .otherVersions {
	position: absolute;
	display: none;
	bottom: 47px;
	background: #ffffff;
	right: 0;
	box-shadow: 0px 0px 5px 2px #ddd;
	padding: 10px 15px;
	text-transform: capitalize;
	color: #323234;
}
.history .currentVersion {
	margin-bottom: 0;
	text-transform: capitalize;
	font-size: 18px;
	display: inline-block;
	padding-right: 30px;
	color: #323234;
}
.history .changeBtn {
	color: #FE8E14;
}
.fullVersionHistory { position: relative; }
.fullVersionHistory .fullVersionInfo {
	position: absolute;
	display: none;
	bottom: 28px;
	background: #ffffff;
	right: 0;
	box-shadow: 0px 0px 5px 2px #ddd;
	padding: 10px 15px;
	text-transform: capitalize;
	width: 155px;
	z-index: 1111;
}
.fullVersionHistory .fullVersionInfo li {
	cursor: pointer;
	color: #323234;
	text-align: left;
}
.fullVersionHistory .fvChange {
	color: #FE8E14;
}


.dbrThanksDownloading {
	display: none; 
	background: #F5F5F5; 
	color: #323234; 
	padding: 30px 20px; 
	text-align: center; 
	margin-bottom: 20px;
}

.dbrThanksDownloading .thanksDownloadTitle {
	color: #323234; 
	font-size: 24px; 
	line-height: 36px; 
	margin-bottom: 5px;
	font-family: Oswald-Light;
}


@media (min-width: 768px) {
	.h1, h1 {font-size:36px;font-size:3.6rem;line-height:48px}
	.h2, h2 {font-size:30px;font-size:3rem;line-height:45px}
	.h3, h3 {font-size:24px;font-size:2.4rem;line-height:36px;}
	.h4, h4 {font-size:16px;font-size:1.6rem;line-height:26px}
	.h5, h5 {font-size:14px;font-size:1.4rem;line-height:24px}
	#subMenu .subMenuContent ul li a, #subMenu .subMenuContent .pro>a, #footerTop ul li.title, #smNav li:first-child a {font-family: OpenSans-Semibold;}
}



@media (max-width: 1199px) {
	.subHeaderMenuUl .btn { padding: 0 10px; }
	#fullTreeMenuListContainer ul { font-size: 14px; }
	.container .docContainer .head  .editLinkColour  { padding: 0; }
}

@media (max-width: 1400px) { 
	.dbrThanksDownloading {  padding: 30px 10px;}
	.dbrThanksDownloading p { font-size: 14px; }
	.dbrThanksDownloading .thanksDownloadTitle {
		color: #323234; 
		font-size: 20px; 
		line-height: 30px; 
		margin-bottom: 5px;
	}
}

@media (max-width: 1679px) {
	/* .rightSideMenu {
    right: 50px;
		float: right;
		position: fixed;
	} */
}

@media (max-width: 991px) {
	.footerWrapper { margin-top: 100px; }
	.markdown-body { min-height: calc(100vh - 378px); }
	.sideBarIcon { height: 40px; line-height: 38px; background: #EEEEEE; color: #444; text-align: right; padding-right: 36px; width: calc(50% - 175px); cursor: pointer; }
	.sideBar {position: absolute; width: auto; left: 0; z-index: 12; background: #eeeeee; padding: 20px; padding-left: calc(50% - 355px);}
	.sideBar .mainPage { margin-top: 0; width: auto!important;max-width: calc(100% - 20px); overflow-x: auto; }
	#fullTreeMenuListContainer > li { max-width: 320px; min-width: 200px; }
	#TryFreeDownload { margin-top: 100px }
	#sideBarCnt .docSearchPart { position: relative; margin-top: 0px; margin-bottom: 10px; }
}

@media (max-width: 767px) {
	.sideBarIcon { display: inline-block; height: 40px; line-height: 38px; background: #EEEEEE; color: #444; text-align: right; padding-right: 15px; padding-left: 15px; width: auto; cursor: pointer; vertical-align: top; }
	.sideBar { position: absolute; width: 100%; left: 0; z-index: 12; background: #eeeeee; padding: 20px 15px; padding-left: 15px; max-width: 100%;}
	.subHeaderMenuUl li { display: none!important; }
	.subHeaderMenuUl li.title { display: inline-block!important; }
	.container .head { padding-top: 20px; }
	.markdown-body { margin-top: 20px; min-height: calc(100vh - 348px); }
	.markdown-body h2 { padding-top: 120px; margin-top: -110px; border-bottom: 0; font-size: 20px; }
	#fullTreeMenuListContainer > li { max-width: 320px; min-width: 200px; }
	.subHeadWrapper { height: auto; }
	.subHeadWrapper .mobileSubHeaderMenu ul { font-size: 14px; }
	#TryFreeDownload .discription { max-width: 400px; text-align: left; }
	#sideBarCnt .docSearchPart { position: relative; margin-top: 0px; margin-bottom: 10px; }
}

@media (max-width: 400px) {
	.subHeadWrapper .subHeaderMenuUl  { font-size: 14px; }
	.subHeadWrapper .mobileSubHeaderMenu ul { font-size: 14px; }
}

@media (max-width: 374px) {
	.subHeadWrapper .subHeaderMenuUl li.title { font-size: 12px; margin-right: 0px; }
	.subHeadWrapper .subHeaderMenuUl li a, .subHeadWrapper .subHeaderMenuUl li a.whitelink { font-size: 16px; }
}

@media (min-width: 992px) {
	.markdown-body h1 { font-size: 40px; }
	.markdown-body h2 { font-size: 30px; }
	.markdown-body h3 { font-size: 24px; }
	.markdown-body { padding-right: 40px; }
	.docContainer { border-left: 1px solid #ddd;padding-left: 40px;min-height: calc(100vh - 235px); }
	.subHeadWrapper .subHeaderMenuUl li { margin-right: 0px; }
	.subHeadWrapper .subHeaderMenuUl li.title { margin-right: 20px; padding: 0; }
	.sideBar .mainPage { width: auto; height: auto; max-height: auto; }
	.sideBarIcon { display: none; overflow: auto; }
}

@media (min-width: 1200px) {
	.markdown-body h1 { font-size: 40px; }
	.markdown-body h2 { font-size: 30px; }
	.markdown-body h3 { font-size: 24px; }
	.markdown-body { padding-right: 40px; }
	.docContainer { border-left: 1px solid #ddd;padding-left: 40px; }
	.subHeadWrapper .subHeaderMenuUl li { margin-right: 20px; }
	.subHeadWrapper .subHeaderMenuUl li.title { margin-right: 100px; padding: 0; }
	#crumbs { font-size: 16px; }
	.rightSideMenu { max-width: 212px; }
	/* .sideBar .mainPage { width: 262px; overflow: auto; } */
}

@media (min-width: 1680px) {
	.subHeadWrapper .subHeaderMenuUl li.title { margin-right: 230px; padding: 0; }
	.sideBar { max-width: 316px; }
	.docContainer { width: calc(100% - 320px);border-left: 1px solid #ddd;padding-left: 80px; }
	.markdown-body { padding-right: 80px; }
	.recordLink.sadLink { margin-left: 30px; }
	.rightSideMenu { max-width: 207px; }
	.sideBar .mainPage { width: 286px; overflow: auto; }
}