<li><a href="{{ site.how_to }}" class="otherLinkColour">How-to Guides</a>
    <ul>
        <li><a href = "{{site.how_to}}check-if-the-barcode-image-is-clear-enough-for-recognition.html"  class="otherLinkColour">Check if the barcode image is clear enough for recognition</a></li>
        <li><a href = "{{site.how_to}}decode-dpm-data-matrix.html"  class="otherLinkColour">Decode DPM data matrix</a></li>
        <li><a href = "{{site.how_to}}enable-scale-up-for-barcode-recognition.html"  class="otherLinkColour">Enable scale up for barcode recognition</a></li>
        <li><a href = "{{site.how_to}}filter-out-unwanted-barcode-results.html"  class="otherLinkColour">Filter out unwanted barcode results</a></li>
        <li><a href = "{{site.how_to}}generate-a-custom-barcode-reading-template.html"  class="otherLinkColour">Generate a custom barcode reading template</a></li>
        <li><a href = "{{site.how_to}}get-additional-barcode-information.html"  class="otherLinkColour">Get additional barcode information</a></li>
        <li><a href = "{{site.how_to}}get-detailed-barcode-information.html"  class="otherLinkColour">Get detailed barcode information</a></li>
        <li><a href = "{{site.how_to}}get-intermediate-results.html"  class="otherLinkColour">Get intermediate results</a></li>
        <li><a href = "{{site.how_to}}read-barcode-from-camera-stream.html"  class="otherLinkColour">Read barcodes from camera stream</a></li>
        <li><a href = "{{site.how_to}}read-barcodes-with-different-colors.html"  class="otherLinkColour">Read barcodes with different colors</a></li>
        <li><a href = "{{site.how_to}}scan-in-multiple-threads.html"  class="otherLinkColour">Scan in multiple threads</a></li>
        <li><a href = "{{site.how_to}}set-custom-area-for-hsv-pre-detection.html"  class="otherLinkColour">Set custom area for HSV pre-detection</a></li>
        <li><a href = "{{site.how_to}}test-batch-scan-performance.html"  class="otherLinkColour">Test batch scan performance</a></li>
        <li><a href = "{{site.how_to}}turn-on-or-off-text-filter.html"  class="otherLinkColour">Turn on or off text filter</a></li>
    </ul>
</li>