<li><a href="{{ site.comparison_tools }}" class="otherLinkColour">Comparison Tools</a>
    <ul>
        <li><a href="{{ site.comparison_tools }}batch-test.html" class="otherLinkColour">Performance Tool</a></li>
        {%- comment -%}
        <li class="unavailableLink">Interactive Test</li>
        <li class="unavailableLink">Test Set Images</li>
        <li><a href="{{ site.comparison_tools }}interactive-test.html" class="otherLinkColour">Interactive Test</a></li>
        <li><a href="{{ site.comparison_tools }}test-set-images.html" class="otherLinkColour">Test Set Images</a></li>
        {%- endcomment -%}
    </ul>
</li>