<!DOCTYPE html>
<html lang="en-US">

{%- include head.html -%}
{%- assign noTitleIndex = "" -%}
{%- if page.noTitleIndex or page.url contains 'release-notes' -%}
    {%- assign noTitleIndex = "noTitleIndex" -%}
{%- endif -%}
<body>
    <div class="headWrapper">
        {%- include page_header.html -%}
    </div>
    {%- include dbrNav.html -%}
    <div class="sideBarIcon"><i class="fa fa-list" style="margin-right: 5px;"></i> Table of contents</div>
    <div class="container" id="categoryMenuTree">
        <div class="row">
            <div class="sideBar col-xs-12 col-md-3 hide-xs hide-sm">
                <div id="sideBarCnt">
                    <div class="docSearchPart" style="margin-top: 30px;">
                        <input id="txtSearch" class="search" type="text">
                    </div>
                    <div class="mainPage">
                        <ul id="fullTreeMenuListContainer" name="listLevel1">
                        </ul>
                    </div>
                </div>
            </div>
            <div class="docContainer col-xs-12 col-md-9">
                <div id="docHead" class="head row hide-xs hide-sm">
                    {%- include main-page-head.html -%}
                </div>
                <div class="main row showRightSideMenu" id="articleContent" data-needh3="{{page.needGenerateH3Content}}">
                    <div class="content markdown-body headCounter {{noTitleIndex}} col-xs-12 col-md-12 col-lg-9 col-xl-10 showRightSideMenu" style="margin-bottom: 20px;">
                        <div class="dbrThanksDownloading">
                            <p class="thanksDownloadTitle">Thanks for downloading Dynamsoft Barcode Reader <span class="editionName"></span> Package!</p>
                            <p style="margin-bottom: 0;">Your download will start shortly. If your download does not begin, <a class="bluelink downloadlink" href="">click here to retry</a>.</p>
                        </div>
                        {{ content }}

                    </div>
                    <div class="rightSideMenu col-xs-12 col-md-12 col-lg-3 col-xl-2  hide-md hide-sm hide-xs showRightSideMenu">
                        <div id="compatibleInfo">
                            <p>This page is compatible for:</p>
                            <p class="compatibleCurVersion">Version 7.5.0</p>
                        </div>
                        <div id="feedbackFooter" style="color: #306877;">
                            <p class="fontOswald">Is this page helpful? </p>
                            <a href="javascript:void(0)" style="color: #306877;" class="recordLink smileLink" onclick="UsefulRecord(true)"><img class="icon-smile" src="{{ site.smile_icon }}" alt="Yes" />Yes</a>
                            <a href="javascript:void(0)" style="color: #306877;" class="recordLink sadLink" onclick="UsefulRecord(false)"><img class="icon-sad" src="{{ site.sad_icon }}" alt="No" />No</a>
                        </div>
                        <hr /> {%- if page.needAutoGenerateSidebar -%}
                        <p class="fontOswald" style="color: #306877;"> In this article: </p>
                        <div id="AutoGenerateSidebar"></div>
                        {%- endif -%}
                    </div>
                </div>
                <div class="main row" style="display: none; background: #f5f5f5;" id="loadingContent">
                    <div class="loading" id="loadingLogin">
                        <div class="lds-ring"><div></div><div></div><div></div><div></div></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="history list" id="categoryMenuTree_history">
        <div class="container">
            <div class="col-xs-12">
                {%- include liquid_autoGenerateHistoryList.html -%} {%- include auto-version-list.html -%}
            </div>
        </div>
    </div>
    <div id="footerWrapper">
        {%- include page_footer.html -%}
    </div>

    <iframe id="sideBarIframe" src="{{site.firstLevelUrl}}/Hide_Tree_Page.html" allow="" height="0" frameborder="0"></iframe>
    <script type="text/javascript">
        anchors.add();
    </script>


    <script type="text/javascript">
        UrlReplace();
    </script>

    <script type="text/javascript">
        FullTreeMenuList('{{page.needAutoGenerateSidebar}}', '{{page.needGenerateH3Content}}', '{{page.pageStartVer}}', '{{site.useVersionTree}}');
    </script>

    {%- include livehelp.html -%}


    <!-- for dbr -->
    <script type="text/javascript">
        function getCookie(name) {
            var arr, reg = new RegExp("(^| )" + name + "=([^;]*)(;|$)");
            return (arr = document.cookie.match(reg)) ? unescape(arr[2]) : null;
        }


        $(document).ready(function() {
            var download = getUrlParam('download');
            if (download == 'true' && (getCookie('DynamsoftEmail') || getCookie('SourceServer') == '1')) {
                var curHref = window.location.href.toLowerCase()
                if (curHref.indexOf('/c/') > -1 || curHref.indexOf('/cplusplus/') > -1) {
                    $('.editionName').html('C/C++');
                    $('.downloadlink').attr('href', 'https://download2.dynamsoft.com/dbr/dbr-c_cpp-9.0.zip');
                    $('.dbrThanksDownloading').show();
                    $('.downloadlink')[0].click();
                } else if (curHref.indexOf('/dotnet/') > -1) {
                    $('.editionName').html('.NET');
                    $('.downloadlink').attr('href', 'https://download2.dynamsoft.com/dbr/dbr-dotnet-9.0.zip');
                    $('.dbrThanksDownloading').show();
                    $('.downloadlink')[0].click();
                } else if (curHref.indexOf('/java/') > -1) {
                    $('.editionName').html('Java');
                    $('.downloadlink').attr('href', 'https://download2.dynamsoft.com/dbr/dbr-java-9.0.zip');
                    $('.dbrThanksDownloading').show();
                    $('.downloadlink')[0].click();
                } else if (curHref.indexOf('/javascript/') > -1) {
                    $('.editionName').html('Javascript');
                    $('.downloadlink').attr('href', 'https://download2.dynamsoft.com/dbr/dynamsoft-barcode-reader-js-9.0.2.zip');
                    $('.dbrThanksDownloading').show();
                    $('.downloadlink')[0].click();
                } else if (curHref.indexOf('/android/') > -1) {
                    $('.editionName').html('Android');
                    $('.downloadlink').attr('href', 'https://download2.dynamsoft.com/dbr/dbr-android-9.0.1.zip');
                    $('.dbrThanksDownloading').show();
                    $('.downloadlink')[0].click();
                } else if (curHref.indexOf('/objectivec-swift/') > -1) {
                    $('.editionName').html('iOS');
                    $('.downloadlink').attr('href', 'https://download2.dynamsoft.com/dbr/dbr-ios-9.0.1.zip');
                    $('.dbrThanksDownloading').show();
                    $('.downloadlink')[0].click();
                }
            }

            $('#txtSearch').keydown(function(e) {
                if (e.keyCode == 13) {
                    window.location.href = '/barcode-reader/search.html?q=' + $('#txtSearch').val();
                }
            })
        })
    </script>
    
    <!-- Google Tag Manager -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-538F83"
        height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
        <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
        new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
        })(window,document,'script','dataLayer','GTM-538F83');</script> 
        <!-- End Google Tag Manager -->
</body>

</html>
